<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster - About</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <div class="preloader-wrapper">
        <div class="preloader"></div>
    </div>
    <header id="header">
        <div id="header-wrap">
            <nav class="secondary-nav border-bottom">
                <div class="nav-container">
                    <div class="d-flex align-items-center mini-nav">
                        <div class="col-md-4 user-items">
                            <ul class="d-flex list-unstyled">
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 shipping-purchase text-center">
                            <p>Chalkduster - Dress Smart, Learn Smart</p>
                        </div>
                        <div class="col-md-4 col-sm-12 user-items">
                            <ul class="d-flex justify-content-end list-unstyled">
                                <li>
                                    <a href="/login">
                                        <i class="icon icon-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/cart">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/wishlist">
                                        <i class="icon icon-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="primary-nav padding-small">
                <div class="nav-container">
                    <div class="d-flex justify-content-between align-items-center nav-height">
                        <div class="logo-div">
                            <div class="main-logo">
                                <a href="/">
                                    <img src="images/chalkduster-icon.jpg" alt="logo" />
                                </a>
                            </div>
                        </div>
                        <div class="navbar-div">
                            <div class="navbar">
                                <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                    <ul class="menu-list">
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/" class="item-anchor active" data-effect="Home">Home</a>
                                        </li> --}}
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/about" class="item-anchor" data-effect="About">About</a>
                                        </li> --}}
                                        <li class="menu-item has-sub">
                                            <a href="/shop" class="item-anchor" data-effect="Shop">Shop</a>
                                        </li>
                                        <li class="menu-item has-sub">
                                            <a href="/blog" class="item-anchor" data-effect="Blog">Blog</a>
                                        </li>
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/contact" class="item-anchor" data-effect="Contact">Contact</a>
                                        </li> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {{!-- about section starts here --}}
    <section class="site-banner jarallax min-height300 padding-large"
        style="background: url(gallery/img-5.jpg) no-repeat">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">About us</h1>
                    <div class="breadcrumbs">
                        <span class="item">
                            <a href="index.html">Home /</a>
                        </span>
                        <span class="item">About</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="aboutus-content" class="padding-medium">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">About Company</h2>
            </div>
            <p>
                Welcome to Chalkduster, where education meets runway elegance! Step
                into a world of vibrant style and unmatched quality as we redefine the
                uniform experience. Our fusion of top-notch craftsmanship and
                Personalized designs ensures that your school or college uniform is
                not just an outfit but a statement piece that reflects the unique
                spirit of your institution. At Chalkduster, we go beyond fashion,
                creating a trendsetting blend of education and style. Embrace a future
                where uniforms are not just garments but expressions of individuality.
                Join us in the revolution where every stitch is a brushstroke of art,
                and your institutional identity becomes a symbol of pride. Elevate
                your uniform game with Chalkduster - where style and substance
                converge in a captivating dance of education and fashion.
            </p>
            <img src="gallery/img-2.jpg" alt="about us image" class="about-us-image" />
            <div class="sub-details">
                <h3>Chalkduster Core Values:</h3>
                <ol type="1" class="sub-details-list">
                    <li>
                        <strong>Innovation:</strong>
                        <p>
                            Pioneering fresh ideas in uniform design, blending fashion and
                            education at the forefront.
                        </p>
                    </li>
                    <li>
                        <strong>Quality Excellence:</strong>
                        <p>
                            Uncompromising commitment to precision, durability, and comfort
                            for enduring, exceptional uniforms.
                        </p>
                    </li>
                    <li>
                        <strong>Personalization:</strong>
                        <p>
                            Tailoring each detail to authentically reflect the unique
                            identity and themes of every institution.
                        </p>
                    </li>
                    <li>
                        <strong>Community Spirit:</strong>
                        <p>
                            Fostering pride and unity through designs that go beyond attire,
                            creating a shared experience.
                        </p>
                    </li>
                    <li>
                        <strong>Ethical Practices:</strong>
                        <p>
                            Upholding transparency, fairness, and sustainability in all
                            aspects of our operations and relationships.
                        </p>
                    </li>
                    <li>
                        <strong>Passion for Education:</strong>
                        <p>
                            Infusing a genuine passion for education into designs that
                            inspire pride and self-expression.
                        </p>
                    </li>
                </ol>
            </div>
            <div class="sub-details">
                <h3>Uniform Customization:</h3>
                <p>
                    At Chalkduster, we offer a wide range of Customization options to
                    ensure that your school's uniform reflects its unique identity. From
                    embroidery of the school logo to custom color schemes and
                    accessories, we can tailor every detail to meet your specific
                    requirements. Let us help you create a uniform that not only
                    represents your institution but also enhances brand visibility and
                    fosters a sense of pride among students.
                </p>
            </div>
            <div class="sub-details">
                <h3>Exceptional Quality:</h3>
                <p>
                    We take pride in our commitment to exceptional quality. Our uniforms
                    are crafted with precision and attention to detail, using
                    high-quality materials that are durable and comfortable. We
                    understand the importance of uniforms that can withstand thedemands
                    of everyday wear and maintain their appearance over time. With
                    Chalkduster, you can trust that your school's uniform will be of the
                    highest quality.
                </p>
            </div>
            <div class="sub-details">
                <h3>Effortless Ordering:</h3>
                <p>
                    Ordering your school's uniforms has never been easier. Our
                    user-friendly online platform allows you to browse our catalog,
                    select the products that best suit your requirements, and Customize
                    them to your liking. With a seamless ordering process and efficient
                    customer support, we strive to make the experience hassle-free and
                    convenient for you. <br />
                    Join the revolution of education and fashion with Chalkduster.
                    Together, let's elevate the uniform experience and make a bold
                    statement of style and substance.
                </p>
            </div>
            <div class="sub-details">
                <h3>Intellect Meets Elegance:</h3>
                <p>
                    Intellect Meets Elegance" is the guiding philosophy of ChalkDuster,
                    encapsulating the brand's commitment to seamlessly blending academic
                    inspiration with sophisticated fashion. It signifies a unique
                    approach where intellect and elegance coalesce in each design,
                    creating clothing that not only reflects contemporary style but also
                    embodies a deeper connection to knowledge and creativity.
                    ChalkDuster's ethos celebrates the harmonious integration of
                    intellectual pursuits with the world of fashion, offering a
                    distinctive and refined expression of personal style
                </p>
            </div>
        </div>
    </section>
    <hr />
    <section id="latest-blog" class="padding-large bg-light-grey">
        <div class="container">
            <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
                <h2 class="section-title">our Journal</h2>
                <div class="btn-wrap align-right">
                    <a href="/blog" class="d-flex align-items-center">Read All Articles <i
                            class="icon icon icon-arrow-io"></i>
                    </a>
                </div>
            </div>
            <div class="row d-flex flex-wrap">
                <article class="col-md-4 post-item">
                    <div class="image-holder zoom-effect">
                        <a href="/single-post">
                            <img src="images/post-img1.jpg" alt="post" class="post-image" />
                        </a>
                    </div>
                    <div class="post-content d-flex">
                        <div class="meta-date">
                            <div class="meta-day text-primary">22</div>
                            <div class="meta-month">Aug-2021</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="/single-post">top 10 casual look ideas to dress up your kids</a>
                            </h3>
                            <a href="blog.html" class="blog-categories">Fashion</a>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 post-item">
                    <div class="image-holder zoom-effect">
                        <a href="/single-post">
                            <img src="images/post-img2.jpg" alt="post" class="post-image" />
                        </a>
                    </div>
                    <div class="post-content d-flex">
                        <div class="meta-date">
                            <div class="meta-day text-primary">25</div>
                            <div class="meta-month">Aug-2021</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="/single-post">Latest trends of wearing street wears supremely</a>
                            </h3>
                            <a href="blog.html" class="blog-categories">Trending</a>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 post-item">
                    <div class="image-holder zoom-effect">
                        <a href="/single-post">
                            <img src="images/post-img3.jpg" alt="post" class="post-image" />
                        </a>
                    </div>
                    <div class="post-content d-flex">
                        <div class="meta-date">
                            <div class="meta-day text-primary">28</div>
                            <div class="meta-month">Aug-2021</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="/single-post">types of comfortable clothes ideas for women</a>
                            </h3>
                            <a href="/blog" class="blog-categories">Inspiration</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
    <section id="instagram" class="padding-small">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Follow our Instagram</h2>
            </div>
            <p>Our official Instagram account</p>
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image1.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image2.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image3.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image4.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image5.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image6.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/catalogue">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/brand">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/disclaimer">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>