<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    {{>navbar}}
    {{!-- seller account starts from here --}}
    <div class="custom-modal-overlay" id="customModalOverlay">
        <div class="custom-modal-dialog" id="customModalDialog">
            <small style="color: #5c8bdb">Message from Chalk Duster:</small> <br />
            <p>Are you sure you want to proceed?</p>
            <br />
            <button id="btnOk">OK</button>
            <button id="btnCancel">CANCEL</button>
        </div>
    </div>
    {{>productlisting}}
    <section class="user-profile">
        <div class="profile-sidebar">
            <ul class="profile-items">
                <a href="/profile">
                    <li class="profile-menu profile">
                        <i class="fas fa-user fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">User Profile</span>
                    </li>
                </a>
                <a href="/orders">
                    <li class="profile-menu orders">
                        <i class="fas fa-shopping-bag fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Order History</span>
                    </li>
                </a>
                <a href="/offers">
                    <li class="profile-menu offer">
                        <i class="fas fa-tags fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">New Offer</span>
                    </li>
                </a>
                <a href="/seller-account">
                    <li class="profile-menu seller">
                        <i class="fas fa-store-alt fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Seller Account</span>
                    </li>
                </a>
                <a href="/settings">
                    <li class="profile-menu setting">
                        <i class="fas fa-cog fa-lg" style="color: #5c8bdb"></i>
                        <span class="list-name">Settings</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="profile-display">
            <nav class="logout-nav">
                {{!-- <button id="logoutBtn">
                    <i class="fas fa-power-off fa-lg" style="color: #ffffff"></i>
                </button> --}}
            </nav>
            <div class="edit-div">
                <strong class="user-details">Created Products</strong>
                {{!-- <button onclick="editProfile()" id="editProfile">
                    <i class="far fa-edit fa-lg" style="color: #000000"></i>
                </button> --}}
            </div>
            <div class="created-products-container">
                {{!-- product cards appear here --}}

            </div>
        </div>
    </section>
    <hr>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="catalogue.html">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="brand.html">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="FAQ.html">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="disclaimer.html">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


        const listedProductContainer = document.querySelector(".created-products-container");
        const listProductContainer = document.querySelector(".listProduct");
        listProductContainer.style = "display:none;";
        const productForm = document.querySelector("form.productForm");
        const productTitle = document.getElementById("productTitle");
        const productPrice = document.getElementById("productPrice");
        const productCategory = document.getElementById("myCategory");
        const productDesc = document.getElementById("productDesc");
        const productSubmitBtn = document.querySelector(".list-product");
        const productImages = document.getElementById("images");
        const imagePreview = document.getElementById('image-preview');

        document.addEventListener("DOMContentLoaded", () => {
            const productkey = localStorage.getItem("TCD");
            fetch(`${window.location.origin}/api/v1/thisSellerProducts`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${productkey}`,
                },
            })
                .then(res => res.json())
                .then(products => {

                    for (let i = 0; i < products.createdproducts.length; i++) {
                        const sellerProduct = products.createdproducts[i];
                        const cardinnerhtml = `<div class="sellerProductImgDiv">
                        <img src="../${sellerProduct.images[0]}" class="sellerProductImg"
                            alt="Product Image">
                    </div>
                    <div class="sellerProductDetails">
                        <div style="display: flex; justify-content: space-between;">
                        <div class="sellerProductTitleDiv">
                            <p class="sellerProductTitle">${sellerProduct.name}</p>
                        </div>
                        <div class="editProductBtn" product-id="${sellerProduct._id}">
                            <i class="fas fa-ellipsis-v fa-sm" style="color: #ffffff;"></i>
                        </div>
                        </div>
                            <small class="sellerProductCode">${sellerProduct._id}</small>
                        <div class="sellerProductDescriptionDiv">
                            <small class="sellerProductDescription"> ${sellerProduct.desc}</small>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                        <div class="sellerProductCategoryDiv">
                            <small class="sellerProductCategory"> ${sellerProduct.category.toUpperCase()}</small>
                        </div>
                        <div class="sellerProductStateDiv">
                            <strong class="sellerProductState">${sellerProduct.pState.toUpperCase()}</strong>
                        </div>
                        </div>
                    </div>`;
                        const cardContainer = document.createElement("div");
                        cardContainer.classList.add("sellerProducts");
                        cardContainer.innerHTML = cardinnerhtml;
                        listedProductContainer.prepend(cardContainer);

                        const editProductBtn = document.querySelectorAll(".editProductBtn");
                        editProductBtn.forEach(button => {
                            button.addEventListener("click", function () {
                                // get product id
                                const pid = button.getAttribute("product-id");
                                productSubmitBtn.setAttribute("product-code", pid);
                                //display form
                                const editFormTitle = document.querySelector(".product-listing-heading");

                                listProductContainer.style = "display: block; width:100%; height: 100vh; background-color: white; overflow:auto; position: fixed; top:50%; left: 50%; transform: translate(-50%, -50%); z-index: 10000";
                                productForm.style = "width: 80%;";
                                editFormTitle.innerText = "Update your Product";
                                productSubmitBtn.innerText = "UPDATE PRODUCT";
                                productForm.addEventListener("change", function () {
                                    productSubmitBtn.style = "display: block";
                                });
                                const formCloseBtn = document.createElement("div");
                                formCloseBtn.classList.add("closeform");
                                formCloseBtn.innerHTML = `<i class="far fa-times-circle fa-lg" style="color: #000000;"></i>`;
                                listProductContainer.appendChild(formCloseBtn);


                                fetch(`${window.location.origin}/api/v1/product/${pid}`, {
                                    method: "GET",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                })
                                    .then(res => res.json())
                                    .then(product => {
                                        if (product.success === true) {
                                            const productRes = product.result[0];
                                            productTitle.value = productRes.name;
                                            productPrice.value = productRes.price;
                                            productCategory.value = productRes.category;
                                            productDesc.value = productRes.desc;
                                        }
                                    })
                                    .catch(err => {
                                        alert(err);
                                    });
                                //close form
                                formCloseBtn.addEventListener("click", function () {
                                    listProductContainer.style = "display: none";
                                });
                            })
                        })
                    }
                    const publishElement = document.querySelectorAll(".sellerProductState");
                    publishElement.forEach(el => {
                        if (el.innerHTML === "PUBLISHED") {
                            el.parentElement.style = "background-color: green;";
                        }
                    })
                    // form updating functinality starts form here
                    const FD = new FormData();
                    productImages.addEventListener("change", function (event) {
                        for (let i = 0; i < event.target.files.length; i++) {
                            const file = event.target.files[i];
                            //images.push(file)
                            if (file && file.type.startsWith('image/')) {
                                if (file.size <= 80 * 1024) {
                                    const reader = new FileReader();

                                    reader.onload = function (event) {
                                        const img = document.createElement('img');
                                        img.src = event.target.result;
                                        img.alt = 'Image Preview';
                                        img.classList.add('preview-image');
                                        if (imagePreview.children.length < 4) {
                                            imagePreview.appendChild(img);
                                            if (imagePreview.children.length === 4) {
                                                productImages.setAttribute("disabled", "true")
                                            }
                                        }
                                    };
                                    reader.readAsDataURL(file);
                                    FD.append(`images`, file);
                                } else {
                                    alert(`${file.name} exceeds the size limit of 80KB`)
                                }
                            }
                            //console.log(images)
                        }
                    });
                    productTitle.addEventListener("change", () => {
                        FD.append("name", productTitle.value);
                    });
                    productPrice.addEventListener("change", () => {
                        FD.append("price", +productPrice.value);
                    });
                    productCategory.addEventListener("change", () => {
                        FD.append("category", productCategory.value);
                    });
                    productForm.addEventListener("submit", (event) => {
                        event.preventDefault();
                        const proid = productSubmitBtn.getAttribute("product-code")
                        if (productDesc.value.length >= 100 && productDesc.value.length <= 300) {
                            FD.append("desc", productDesc.value);
                            fetch(`${window.location.origin}/api/v1/product/${proid}`, {
                                method: "PUT",
                                body: FD,
                            })
                                .then(res => res.json())
                                .then(upProduct => {
                                    if (upProduct.success === true) {
                                        alert("Product Updated Successfully");
                                        window.location.reload();
                                    }
                                })
                                .catch(err => {
                                    alert(err);
                                })
                        } else {
                            alert("Product description should include 100 to 300 characters");
                        }
                    });
                })
                .catch(err => {
                    console.log(err);
                });


            //fetch seller details
            const logoutNav = document.querySelector(".logout-nav");
            fetch(`${window.location.origin}/api/v2/profile`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${productkey}`,
                },
            })
                .then(res => res.json())
                .then(seller => {
                    logoutNav.innerHTML = `<strong class="firm-heading">${seller.loggedUSER.firmName}&copy; ${seller.loggedUSER.fullname}</strong>`;
                })
                .catch(err => {
                    console.log(err)
                })
        });

    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>