<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <div class="preloader-wrapper">
        <div class="preloader"></div>
    </div>
    {{>navbar}}
    {{!-- FAQ section starts form here --}}
    <div class="FAQ-container padding-small">
        <section
            class="container-fluid w-100 d-flex flex-column justify-content-center align-items-center pb-4 features">
            <div class="fs-1 fw-bold mb-4">
                <h1 class="FAQ-title">Frequently Asked Questions</h1>
            </div>

            <!-- 1st accordion -->
            <div class="accordion w-75">
                <div class="accordion-header w-100 px-4">
                    <h3>What is Chalkduster for Organizations (B2B)?</h3>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content w-100">
                    <div class="p-4 fs-4">
                        <p>
                            Chalkduster For Organisations is a one-stop solution for all
                            your school needs with 6000+ products under one platform,
                            effectively serving its B2B partners with great success. Make
                            your bulk purchases and avail discounts and GST benefits up to
                            28% on all your orders.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 2nd accordion -->
            <div class="accordion w-75">
                <div class="accordion-header w-100 px-4">
                    <h3>Who can access the Chalksudter B2B website?</h3>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content w-100">
                    <div class="p-4 fs-4">
                        <p>
                            The Chalkduster B2B Website is accessible to institutions, and
                            Organizations. To gain access, you need to create an account and
                            provide relevant business information for verification purposes.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 3rd accordion -->
            <div class="accordion w-75">
                <div class="accordion-header w-100 px-4">
                    <h3>Are there any discounts available for B2B purchases?</h3>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content w-100">
                    <div class="p-4 fs-4">
                        <p>
                            Chalkduster offers competitive pricing and discounts for B2B
                            purchases. The discounts may vary based on factors such as order
                            quantity, product category, and contractual agreements. For
                            specific pricing and discount information, you can reach out to
                            the Chalkduster B2B sales team.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 4th accordion -->
            <div class="accordion w-75">
                <div class="accordion-header w-100 px-4">
                    <h3>
                        What payment methods are accepted on the chalkduster B2B website?
                    </h3>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content w-100">
                    <div class="p-4 fs-4">
                        <p>
                            The chalkduster B2B Website typically accepts a variety of
                            payment methods, including credit/debit cards, bank transfers,
                            and other electronic payment options. The available payment
                            methods will be displayed during the checkout process.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 5th accordion -->
            <div class="accordion w-75">
                <div class="accordion-header w-100 px-4">
                    <h3>What is the delivery process for B2B orders?</h3>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content w-100">
                    <div class="p-4 fs-4">
                        <p>
                            Once your B2B order is placed and confirmed, Chalkduster's
                            logistics team will process and ship the products to the
                            specified delivery address. Shipping times and costs will vary
                            based on your location and the chosen shipping method. You will
                            receive tracking information to monitor the delivery status.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 6th accordion -->
            <div class="accordion w-75">
                <div class="accordion-header w-100 px-4">
                    <h3>Can I customize products with my brand/logo for B2B orders?</h3>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content w-100">
                    <div class="p-4 fs-4">
                        <p>
                            Yes, Chalkduster may offer customization options for certain
                            products to include your brand/logo. Customization details, such
                            as artwork and placement, can be discussed with the chalkduster
                            B2B team. Keep in mind that customization options may vary based
                            on the product type.
                        </p>
                    </div>
                </div>
            </div>

            <!-- 7th accordion -->
            <div class="accordion w-75">
                <div class="accordion-header w-100 px-4">
                    <h3>How do I get in touch with Chalkduster B2B support?</h3>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content w-100">
                    <div class="p-4 fs-4">
                        <p>
                            For any inquiries, or assistance, related to B2B purchases, you
                            can contact the Chalkduster B2B customer support team mail:
                            B2B.contact@chalkduster.in
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <hr />

    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/catalogue">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/brand">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/disclaimer">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const accordionHeaders = document.querySelectorAll(".accordion-header");

            accordionHeaders.forEach(function (header) {
                header.addEventListener("click", function () {
                    const accordion = this.parentNode;
                    const isOpen = accordion.classList.contains("open");

                    closeAllAccordions();

                    if (!isOpen) {
                        accordion.classList.add("open");
                    }
                });
            });

            function closeAllAccordions() {
                accordionHeaders.forEach(function (header) {
                    const accordion = header.parentNode;
                    accordion.classList.remove("open");
                });
            }
        });

    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>