<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    {{>navbar}}
    <section class="user-profile">
        <div class="profile-sidebar">
            <ul class="profile-items">
                <a href="/profile">
                    <li class="profile-menu profile">
                        <i class="fas fa-user fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">User Profile</span>
                    </li>
                </a>
                <a href="/orders">
                    <li class="profile-menu orders menuActive">
                        <i class="fas fa-shopping-bag fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Order History</span>
                    </li>
                </a>
                <a href="/offers">
                    <li class="profile-menu offer">
                        <i class="fas fa-tags fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">New Offer</span>
                    </li>
                </a>
                <a href="/seller-account">
                    <li class="profile-menu seller">
                        <i class="fas fa-store-alt fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Seller Account</span>
                    </li>
                </a>
                <a href="/settings">
                    <li class="profile-menu setting">
                        <i class="fas fa-cog fa-lg" style="color: #5c8bdb"></i>
                        <span class="list-name">Settings</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="profile-display">
            <nav class="logout-nav">
                <i class="far fa-arrow-alt-circle-left fa-lg" style="color: #ffffff;"></i>
                <div></div>
            </nav>
            <div class="edit-div">
                <strong class="user-details">Order History</strong>
                {{!-- <button onclick="editProfile()" id="editProfile">
                    <i class="far fa-edit fa-lg" style="color: #000000"></i>
                </button> --}}
            </div>
            <div class="order-products-container">
                {{!-- product cards appear here --}}


            </div>
        </div>
    </section>
    <hr>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="catalogue.html">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="brand.html">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="FAQ.html">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="disclaimer.html">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const gobackbtn = document.querySelector(".fa-arrow-alt-circle-left");
        const orderDisplayContainer = document.querySelector(".order-products-container");
        document.addEventListener("DOMContentLoaded", () => {
            const orderlibrary = localStorage.getItem("TCD");
            fetch(`${window.location.origin}/api/v3/orders`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${orderlibrary}`,
                },
            })
                .then(res => res.json())
                .then(fetchedResult => {
                    if (fetchedResult.success === true) {
                        // get product details for each orders placed
                        //console.log(fetchedResult);
                        for (let i = 0; i < fetchedResult.orders.length; i++) {
                            const order = fetchedResult.orders[i];
                            const orderCard = document.createElement("div");
                            orderCard.classList.add("orderCard");

                            fetchedResult.products.forEach(product => {
                                if (order.pid === product._id) {
                                    const savedTime = new Date(order.time);
                                    const milisec = savedTime.getTime();
                                    const currentTime = new Date().getTime();
                                    const differenceMilisec = currentTime - milisec;
                                    const differenceDays = Math.round(differenceMilisec / (1000 * 60 * 60 * 24));
                                    const orderdate = new Date(order.time).toLocaleString();
                                    const odrhtml = `
                            <div class="orderImgDiv">
                        <img src="../${product.images[0]}" class="orderImg" alt="Product Image">
                    </div>
                    <div class="orderDetails">
                        <div class="orderTitleDiv">
                            <p class="orderTitle">${product.name}</p>
                        </div>
                        <div style="display: flex; align-items: center; justify-content: space-between;">
                        <div class="orderQS">${"quan - " + order.quantity} ${order.size !== "" ? "size - " + order.size : ""}</div>
                        <div title="Order Placed Date" class="orderDate">${orderdate}</div>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div class="orderPriceDiv">
                                <strong class="orderPrice">INR ${order.pay}</strong>
                            </div>
                            <div class="orderDeliveryStateDiv">
                                <strong class="orderDeliveryState">${order.delState}</strong>
                            </div>
                        </div>
                        <div class="orderActionDiv">
                         <div title="Tap to Copy" class="orderTID">${order.tid !== undefined ? order.tid : "null"}</div title="Tap to copy">

                         <button oid=${order.tid} style="${order.delState === "placed" || order.delState === "shipped" || order.delState === "outfordelivery" ? "display: block" : "display: none"}" class="cancelOrder">CANCEL</button>

                         <strong style="${order.delState === "cancelled" || order.delState === "returned" || order.delState === "return" ? "display: block" : "display: none"}" class="orderRefundState">${order.refund === "refund" ? `<i class="fas fa-sync-alt"></i> Refund` : `<i class="fas fa-check-circle" style="color: #279d06;"></i> Refunded`}</strong>

                         <button rid="${order.tid}" style="${order.delState === "delivered" && differenceDays < 5 ? "display: block" : "display: none"}" class="returnOrder">Return</button>
                        </div>
                    </div>
                            `;
                                    orderCard.innerHTML = odrhtml;
                                    orderDisplayContainer.prepend(orderCard);
                                }
                            });
                        }
                        const orderID = document.querySelectorAll(".orderTID");
                        orderID.forEach(ids => {
                            ids.addEventListener("click", () => {
                                const ordertid = ids.innerText;
                                copyorderLink(ordertid);
                            })
                        })
                        // copy order id
                        const copyorderLink = async (ordertid) => {
                            try {
                                await navigator.clipboard.writeText(ordertid);
                            } catch (err) {
                                console.error("Fail to Copy " + err)
                            }
                        }
                        // order cancelletion function
                        const cancelBtn = document.querySelectorAll(".cancelOrder");
                        cancelBtn.forEach(btn => {
                            btn.addEventListener("click", () => {
                                const proceed = confirm("Are you sure you want to CANCEL this Order?");
                                if (proceed === true) {
                                    const oid = btn.getAttribute("oid");
                                    const queryString = encodeURIComponent(oid);
                                    fetch(`${window.location.origin}/api/v3/cancel-order?id=${queryString}`, {
                                        method: "PUT",
                                        headers: {
                                            "Content-Type": "application/json",
                                            Authorization: `${orderlibrary}`,
                                        },
                                    })
                                        .then(res => res.json())
                                        .then(updatedOrder => {
                                            if (updatedOrder.success === true) {
                                                alert(`${updatedOrder.order.tid} was ${updatedOrder.order.delState} successfully`);
                                                window.location.reload();
                                            }
                                            if (updatedOrder.success === false) {
                                                alert(`${updatedOrder.message}`);
                                            }
                                        })
                                        .catch(err => {
                                            alert("Something went wrong " + err)
                                        })
                                }
                            })
                        })
                        // order return
                        const returnBtn = document.querySelectorAll(".returnOrder");
                        returnBtn.forEach(btn => {
                            btn.addEventListener("click", () => {
                                const proceedReturn = confirm("Are you sure you want to RETURN this Order?");
                                if (proceedReturn === true) {
                                    const rid = btn.getAttribute("rid");
                                    const returnString = encodeURIComponent(rid);
                                    fetch(`${window.location.origin}/api/v3/return-order?id=${returnString}`, {
                                        method: "PUT",
                                        headers: {
                                            "Content-Type": "application/json",
                                            Authorization: `${orderlibrary}`,
                                        },
                                    })
                                        .then(res => res.json())
                                        .then(updatedOrder => {
                                            if (updatedOrder.success === true) {
                                                alert(`Your ${updatedOrder.order.delState} request was sent successfully for Order: ${updatedOrder.order.tid}`);
                                                window.location.reload();
                                            }
                                            if (updatedOrder.success === false) {
                                                alert(`${updatedOrder.message}`);
                                            }
                                        })
                                        .catch(err => {
                                            alert("Something went wrong " + err)
                                        })
                                }
                            })
                        })
                    }
                })
                .catch(err => {
                    alert("Something went wrong" + err);
                })
        })
        gobackbtn.addEventListener("click", () => {
            history.go(-1);
        })

    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>