<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <header id="header">
        <div id="header-wrap">
            <nav class="secondary-nav border-bottom">
                <div class="nav-container">
                    <div class="d-flex align-items-center mini-nav">
                        <div class="col-md-4 user-items">
                            <ul class="d-flex list-unstyled">
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 shipping-purchase text-center">
                            <p>Chalkduster - Dress Smart, Learn Smart</p>
                        </div>
                        <div class="col-md-4 col-sm-12 user-items">
                            <ul class="d-flex justify-content-end list-unstyled">
                                <li>
                                    <a href="/login">
                                        <i class="icon icon-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/cart">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/wishlist">
                                        <i class="icon icon-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="primary-nav padding-small">
                <div class="nav-container">
                    <div class="d-flex justify-content-between align-items-center nav-height">
                        <div class="logo-div">
                            <div class="main-logo">
                                <a href="/">
                                    <img src="images/chalkduster-icon.jpg" alt="logo" />
                                </a>
                            </div>
                        </div>
                        <div class="navbar-div">
                            <div class="navbar">
                                <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                    <ul class="menu-list">
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/" class="item-anchor active" data-effect="Home">Home</a>
                                        </li> --}}
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/about" class="item-anchor" data-effect="About">About</a>
                                        </li> --}}
                                        <li class="menu-item has-sub">
                                            <a href="/shop" class="item-anchor" data-effect="Shop">Shop</a>
                                        </li>
                                        <li class="menu-item has-sub">
                                            <a href="/blog" class="item-anchor" data-effect="Blog">Blog</a>
                                        </li>
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/contact" class="item-anchor" data-effect="Contact">Contact</a>
                                        </li> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {{!-- seller account starts from here --}}
    <div class="custom-modal-overlay" id="customModalOverlay">
        <div class="custom-modal-dialog" id="customModalDialog">
            <small style="color: #5c8bdb">Message from Chalk Duster:</small> <br />
            <p>Are you sure you want to proceed?</p>
            <br />
            <button id="btnOk">OK</button>
            <button id="btnCancel">CANCEL</button>
        </div>
    </div>
    <section class="user-profile">
        <div class="profile-sidebar">
            <ul class="profile-items">
                <a href="/profile">
                    <li class="profile-menu profile">
                        <i class="fas fa-user fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">User Profile</span>
                    </li>
                </a>
                <a href="/orders">
                    <li class="profile-menu orders">
                        <i class="fas fa-shopping-bag fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Order History</span>
                    </li>
                </a>
                <a href="/offers">
                    <li class="profile-menu offer">
                        <i class="fas fa-tags fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">New Offer</span>
                    </li>
                </a>
                <a href="/seller-account">
                    <li class="profile-menu seller menuActive">
                        <i class="fas fa-store-alt fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Seller Account</span>
                    </li>
                </a>
                <a href="/settings">
                    <li class="profile-menu setting">
                        <i class="fas fa-cog fa-lg" style="color: #5c8bdb"></i>
                        <span class="list-name">Settings</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="profile-display">
            <nav class="logout-nav">
                {{!-- <button id="logoutBtn">
                    <i class="fas fa-power-off fa-lg" style="color: #ffffff"></i>
                </button> --}}
            </nav>
            <div class="edit-div">
                <strong class="user-details">Seller Dashboard</strong>
                {{!-- <button onclick="editProfile()" id="editProfile">
                    <i class="far fa-edit fa-lg" style="color: #000000"></i>
                </button> --}}
            </div>
            <div class="register-seller">
                <form class="userform">
                    <strong class="seller-reg-heading">Register Yourself as a Seller</strong>
                    <div class="input-box">
                        <label for="firmName">Firm Name *</label>
                        <input id="firmName" type="text" name="firmName" placeholder="Enter Firm Name"
                            autocomplete="off" required />
                    </div>
                    <div class="input-box">
                        <label for="proprietor">Proprietor *</label>
                        <input id="proprietor" type="text" name="proprietor" placeholder="Enter Proprietor Name"
                            autocomplete="off" required />
                    </div>
                    <div class="input-box">
                        <label for="business">Business Category *</label>
                        <input id="business" type="text" name="businessCat" placeholder="Enter Business Category"
                            autocomplete="off" required />
                    </div>
                    <div class="input-box">
                        <label for="gst">GST Number (optional)</label>
                        <input id="gst" type="text" name="gst" placeholder="Enter GST Number" autocomplete="off" />
                    </div>
                </form>
                <button class="update-profile">SUBMIT SELLER</button>
            </div>
            {{!-- product listing Dashboard --}}
            <div class="listProduct">
                <form action="/api/v1/create-product" method="post" enctype="multipart/form-data" class="productForm">
                    <strong class="product-listing-heading">List your Products</strong>
                    <div class="input-box">
                        <label for="images">Product Images (max- 4) *</label>
                        <input id="images" type="file" name="images" accept="image/jpg, image/jpeg, image/png" required
                            multiple />
                    </div>
                    <div id="image-preview">

                    </div>

                    <button type="submit" class="list-product">LIST PRODUCT</button>
                </form>
            </div>
        </div>
    </section>
    <hr>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="catalogue.html">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="brand.html">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="FAQ.html">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="disclaimer.html">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="index.html">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const regSeller = document.querySelector(".register-seller");
        const listProduct = document.querySelector(".listProduct")

        document.addEventListener("DOMContentLoaded", () => {
            const tcd = localStorage.getItem("TCD");
            // console.log(tcd);
            fetch(`${window.location.origin}/api/v2/profile`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${tcd}`,
                },
            })
                .then((res) => res.json())
                .then((user) => {
                    //console.log(user.loggedUSER.isSeller);
                    if (user.success === true && user.loggedUSER.isSeller === 0) {
                        listProduct.style = "display: none";
                        regSeller.style = "display:block";
                    } else if (user.success === true && user.loggedUSER.isSeller === 1) {
                        listProduct.style = "display: block";
                        regSeller.style = "display: none";
                    }
                })
                .catch((err) => console.log(err));
        });



        const formDiv = document.querySelector(".userform");
        const productForm = document.querySelector(".productForm");
        let modalOverlay = document.querySelector(".custom-modal-overlay");
        const OKbtn = document.getElementById("btnOk");
        const CANCELbtn = document.getElementById("btnCancel");
        const updateProfileBtn = document.querySelector(".update-profile");
        let allInput = document.querySelectorAll("input");
        const imageInput = document.getElementById("images");
        const imagePreview = document.getElementById('image-preview');
        const productSubmitBtn = document.querySelector(".list-product");


        const productData = new FormData();
        imageInput.addEventListener("change", function (event) {
            productSubmitBtn.style = "display: block"

            for (let i = 0; i < event.target.files.length; i++) {
                productData.append("images", imageInput.files[i]);
                const file = event.target.files[i];
                if (file && file.type.startsWith('image/')) {
                    const reader = new FileReader();
                    reader.onload = function (event) {
                        const img = document.createElement('img');
                        img.src = event.target.result;
                        img.alt = 'Image Preview';
                        img.classList.add('preview-image');
                        if (imagePreview.children.length < 4) {
                            imagePreview.appendChild(img);
                        }
                    };
                    reader.readAsDataURL(file);
                }
            }
            productForm.addEventListener("submit", function (event) {
                event.preventDefault();
            })
        })

        allInput.forEach((input) => {
            input.addEventListener("change", (event) => {
                // console.log(event.target.value);
                updateProfileBtn.style = "display: block";
            });
        });


        updateProfileBtn.addEventListener("click", function () {
            modalOverlay.style = "display: block";
            OKbtn.innerText = "SUBMIT SELLER";
        });

        OKbtn.addEventListener("click", function (event) {
            proceed(event.target.innerText);
        });
        CANCELbtn.addEventListener("click", function (event) {
            proceed(event.target.innerText);
        });

        formDiv.addEventListener("submit", (event) => {
            event.preventDefault();
        });


        function proceed(value) {
            if (value === "SUBMIT SELLER") {
                const formData = new FormData(formDiv);
                const data = Object.fromEntries(formData);
                const { firmName, proprietor, businessCat, gst } = data;
                const bodyData = {
                    firmName: firmName.trim(),
                    proprietor: proprietor.trim(),
                    businessCat: businessCat.trim(),
                    gst: gst.trim(),
                    isSeller: 1
                }
                //console.log(bodyData)
                const tid = localStorage.getItem("TCD");
                if (firmName !== "" && proprietor !== "" && businessCat !== "") {
                    fetch(`${window.location.origin}/api/v2/register-seller`, {
                        method: "PUT",
                        headers: {
                            "Content-Type": "application/json",
                            Authorization: `${tid}`,
                        },
                        body: JSON.stringify(bodyData),
                    })
                        .then((res) => res.json())
                        .then((result) => {
                            console.log(result);
                            if (result.success === true) {
                                alert("Dear User your seller account will be activated once it is verified. Usually it takes less than 24hrs to verify you");
                                window.location.reload();
                            }
                            if (result.success === false) {
                                alert(result.message);
                            }
                        })
                        .catch((err) => {
                            console.log(err);
                        });
                }
            }
            else if (value === "CANCEL") {
                modalOverlay.style = "display: none";
            }
        }


    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>