<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <header id="header">
        <div id="header-wrap">
            <nav class="secondary-nav border-bottom">
                <div class="nav-container">
                    <div class="d-flex align-items-center mini-nav">
                        <div class="col-md-4 user-items">
                            <ul class="d-flex list-unstyled">
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 shipping-purchase text-center">
                            <p>Chalkduster - Dress Smart, Learn Smart</p>
                        </div>
                        <div class="col-md-4 col-sm-12 user-items">
                            <ul class="d-flex justify-content-end list-unstyled">
                                <li>
                                    <a href="/login">
                                        <i class="icon icon-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/cart">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/wishlist">
                                        <i class="icon icon-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="primary-nav padding-small">
                <div class="nav-container">
                    <div class="d-flex justify-content-between align-items-center nav-height">
                        <div class="logo-div">
                            <div class="main-logo">
                                <a href="/">
                                    <img src="images/chalkduster-icon.jpg" alt="logo" />
                                </a>
                            </div>
                        </div>
                        <div class="navbar-div">
                            <div class="navbar">
                                <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                    <ul class="menu-list">
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/" class="item-anchor active" data-effect="Home">Home</a>
                                        </li> --}}
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/about" class="item-anchor" data-effect="About">About</a>
                                        </li> --}}
                                        <li class="menu-item has-sub">
                                            <a href="/shop" class="item-anchor" data-effect="Shop">Shop</a>
                                        </li>
                                        <li class="menu-item has-sub">
                                            <a href="/blog" class="item-anchor" data-effect="Blog">Blog</a>
                                        </li>
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/contact" class="item-anchor" data-effect="Contact">Contact</a>
                                        </li> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {{!-- seller account starts from here --}}
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="catalogue.html">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="brand.html">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="FAQ.html">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="disclaimer.html">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="index.html">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>