<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <div class="preloader-wrapper">
        <div class="preloader"></div>
    </div>
    {{>navbar}}
    {{!-- shop section starts from here --}}
    <section class="site-banner jarallax min-height300 padding-large" style="
        background: url(images/hero-image.jpg) no-repeat;
        background-position: top;
      ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-title">Shop page</h1>
                    <div class="breadcrumbs">
                        <span class="item">
                            <a href="/">Home /</a>
                        </span>
                        <span class="item">Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="shopify-grid padding-large">
        <div class="container">
            <div class="row">
                <section id="selling-products" class="col-md-10 product-store">
                    <div class="tab-content">
                        <div id="all" data-tab-content class="active">
                            <div class="filters">
                                <button class="filter-button active" data-category="all">
                                    All
                                </button>
                                <button class="filter-button" data-category="stationery">
                                    Stationery
                                </button>
                                <button class="filter-button" data-category="books">
                                    Books
                                </button>
                                <button class="filter-button" data-category="uniform">
                                    Uniforms
                                </button>
                                <button class="filter-button" data-category="utensils">
                                    Utensils
                                </button>
                                <button class="filter-button" data-category="sports">
                                    Sports
                                </button>
                                <button class="filter-button" data-category="bags">
                                    Bags
                                </button>
                                <button class="filter-button" data-category="footwears">
                                    Footwears
                                </button>
                            </div>
                            <div class="row" id="productParentDiv">
                                <!-- data appears here -->
                            </div>
                        </div>
                        <div class="paginationdiv">
                            <ul class="pagination-list">
                                <!-- <li>
                    <button class="pagination-btn active">1</button>
                  </li>
                  <li><button class="pagination-btn">2</button></li>
                  <li><button class="pagination-btn">3</button></li> -->
                            </ul>
                            <div id="prevnextContainer" style="display: flex">
                                <div>
                                    <button id="prevPag" class="pagination-btn">
                                        <i class="icon icon-arrow-left"></i>
                                    </button>
                                </div>
                                <div>
                                    <button id="nextPag" class="pagination-btn">
                                        <i class="icon icon-arrow-right"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <section id="latest-blog" class="padding-large bg-light-grey">
        <div class="container">
            <div class="section-header d-flex flex-wrap align-items-center justify-content-between">
                <h2 class="section-title">our Journal</h2>
                <div class="btn-wrap align-right">
                    <a href="/blog" class="d-flex align-items-center">Read All Articles <i
                            class="icon icon icon-arrow-io"></i>
                    </a>
                </div>
            </div>
            <div class="row d-flex flex-wrap">
                <article class="col-md-4 post-item">
                    <div class="image-holder zoom-effect">
                        <a href="/single-post">
                            <img src="images/post-img1.jpg" alt="post" class="post-image" />
                        </a>
                    </div>
                    <div class="post-content d-flex">
                        <div class="meta-date">
                            <div class="meta-day text-primary">22</div>
                            <div class="meta-month">Aug-2021</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="/single-post">top 10 casual look ideas to dress up your kids</a>
                            </h3>
                            <a href="/blog" class="blog-categories">Fashion</a>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 post-item">
                    <div class="image-holder zoom-effect">
                        <a href="/single-post">
                            <img src="images/post-img2.jpg" alt="post" class="post-image" />
                        </a>
                    </div>
                    <div class="post-content d-flex">
                        <div class="meta-date">
                            <div class="meta-day text-primary">25</div>
                            <div class="meta-month">Aug-2021</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="/single-post">Latest trends of wearing street wears supremely</a>
                            </h3>
                            <a href="/blog" class="blog-categories">Trending</a>
                        </div>
                    </div>
                </article>
                <article class="col-md-4 post-item">
                    <div class="image-holder zoom-effect">
                        <a href="/single-post">
                            <img src="images/post-img3.jpg" alt="post" class="post-image" />
                        </a>
                    </div>
                    <div class="post-content d-flex">
                        <div class="meta-date">
                            <div class="meta-day text-primary">28</div>
                            <div class="meta-month">Aug-2021</div>
                        </div>
                        <div class="post-header">
                            <h3 class="post-title">
                                <a href="/single-post">types of comfortable clothes ideas for women</a>
                            </h3>
                            <a href="/blog" class="blog-categories">Inspiration</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <section id="instagram" class="padding-small">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Follow our Instagram</h2>
            </div>
            <p>Our official Instagram account</p>
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image1.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image2.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image3.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image4.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image5.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
                <div class="col-lg-2 col-md-4 col-xs-6">
                    <figure class="zoom-effect">
                        <img src="images/insta-image6.jpg" alt="instagram" class="insta-image" />
                        <i class="icon icon-instagram"></i>
                    </figure>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <section id="shipping-information">
        <div class="container">
            <div class="row d-flex flex-wrap align-items-center justify-content-between">
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box">
                        <i class="icon icon-truck"></i>
                        <h4 class="block-title">
                            <strong>Free shipping</strong> Over ₹200
                        </h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box">
                        <i class="icon icon-return"></i>
                        <h4 class="block-title">
                            <strong>Money back</strong> Return within 7 days
                        </h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box">
                        <i class="icon icon-tags1"></i>
                        <h4 class="block-title">
                            <strong>Buy 4 get 5th</strong> 50% off
                        </h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="icon-box">
                        <i class="icon icon-help_outline"></i>
                        <h4 class="block-title">
                            <strong>Any questions?</strong> experts are ready
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/catalogue">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/brand">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/disclaimer">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const productDivContainer = document.getElementById("productParentDiv");
        const filterButtons = document.querySelectorAll(".filter-button");
        const pagContainer = document.querySelector(".pagination-list");
        const prevPagBtn = document.getElementById("prevPag");
        const nextPagBtn = document.getElementById("nextPag");
        const nextprevContainer = document.getElementById("prevnextContainer");
        // console.log(containsActive);

        document.addEventListener("DOMContentLoaded", () => {
            fetch(`${window.location.origin}/api/v1/product`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then((response) => {
                    let data = response.json();
                    return data;
                })
                .then((jsonData) => {
                    let pageNo = 1;
                    let limit = 6;
                    let totalPage = Math.ceil(jsonData.products.length / limit);



                    function getAllProducts(page) {
                        let skip = limit * page;
                        let productSliced = jsonData.products.slice(skip - limit, skip);
                        for (let i = 0; i < productSliced.length; i++) {
                            const Products = productSliced[i];
                            const url = `${window.location.origin}/product?img=${Products.image}&p=${Products.name}&pr=${Products.price}`;
                            let cardContainer = document.createElement("div");
                            let productCard = `
                    <a href="${url}"  class="image-holder">
                      <img
                        src=${Products.image}
                        alt="Books"
                        class="product-image"
                      />
                    </a>
                    <div class="product-detail">
                      <p class="product-brand">Chalkduster &reg;</p>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <p class="product-title">
                          <a href="${url}"
                            >${Products.name}</a
                          >
                        </p>
                        <button type="button" data-number=${Products._id} class="wishlist-btn">
                          <i title="Add to Wishlist" class="icon icon-heart"></i>
                        </button>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                      <p class="item-price">
                        <span class="inr">&#8377;</span>${Products.price}
                        <span class="cut-price">&#8377;500</span>
                      </p>
                      <button type="button" data-product=${Products._id} class="cart-btn">
                        <i title="Add to Cart" class="fas fa-cart-plus" style="color: #c1b9b9;"></i>
                      </button>
                    </div>
                    </div>
                  `;

                            cardContainer.innerHTML = productCard;
                            cardContainer.classList.add("product-item");
                            cardContainer.classList.add("col-lg-4");
                            cardContainer.classList.add("col-md-6");
                            cardContainer.classList.add("col-xs-6");
                            productDivContainer.appendChild(cardContainer);
                        }
                        // add to wishlist
                        const wishBtn = document.querySelectorAll(".wishlist-btn");
                        wishBtn.forEach((btn) => {
                            const wishlisted = JSON.parse(localStorage.getItem("wishlist"));
                            if (
                                wishlisted !== null &&
                                wishlisted.includes(btn.getAttribute("data-number"))
                            ) {
                                btn.innerHTML = `<i class="fa fa-heart" style="color: #e20808;"></i>`;
                            }
                            btn.addEventListener("click", function () {
                                const pid = btn.getAttribute("data-number");
                                const wishArr =
                                    JSON.parse(localStorage.getItem("wishlist")) || [];
                                if (!wishArr.includes(pid)) {
                                    btn.innerHTML = `<i class="fa fa-heart" style="color: #e20808;"></i>`;
                                    wishArr.push(pid);
                                    localStorage.setItem("wishlist", JSON.stringify(wishArr));
                                }
                            });
                        });
                        // add to cart
                        const cartBtn = document.querySelectorAll(".cart-btn");
                        cartBtn.forEach((btn) => {
                            const carted = JSON.parse(localStorage.getItem("cart"));
                            if (
                                carted !== null &&
                                carted.includes(btn.getAttribute("data-product"))
                            ) {
                                btn.innerHTML = `<i title="Added to Cart" class="fas fa-cart-plus" style="color: #e7b80d;"></i>`;
                            }
                            btn.addEventListener("click", function () {
                                const cid = btn.getAttribute("data-product");
                                const cartArr =
                                    JSON.parse(localStorage.getItem("cart")) || [];
                                if (!cartArr.includes(cid)) {
                                    btn.innerHTML = `<i title="Added to Cart" class="fas fa-cart-plus" style="color: #e7b80d;"></i>`;
                                    cartArr.push(cid);
                                    localStorage.setItem("cart", JSON.stringify(cartArr));
                                }
                            });
                        });
                    }

                    filterButtons.forEach((el) => {
                        if (el.classList.contains("active") === true) {
                            if (el.getAttribute("data-category") === "all") {
                                productDivContainer.style = "display: flex; flex-wrap: wrap";
                                getAllProducts(pageNo);
                            }
                        }
                    });
                    // PAGIINATION script starts from here
                    pagContainer.innerHTML = "";
                    for (let p = 0; p < totalPage; p++) {
                        const pagBtn = document.createElement("button");
                        pagBtn.classList.add("pagination-btn");
                        if (p === 0) {
                            pagBtn.classList.add("active");
                        }
                        pagBtn.innerHTML = p + 1;
                        const pagLi = document.createElement("li");
                        pagLi.appendChild(pagBtn);
                        pagContainer.appendChild(pagLi);
                        pagLi.addEventListener("click", function () {
                            pageNo = Number(pagBtn.innerText);
                            document.querySelectorAll(".pagination-btn").forEach((btn) => {
                                btn.classList.remove("active");
                                if (btn.innerHTML === pageNo.toString()) {
                                    btn.classList.add("active");
                                }
                            });
                            productDivContainer.innerHTML = "";
                            getAllProducts(pageNo);
                        });
                    }
                    // next prev pagination onclick functionality
                    prevPagBtn.addEventListener("click", function () {
                        if (pageNo === 1) {
                            return pageNo;
                        } else {
                            pageNo = pageNo - 1;
                            document.querySelectorAll(".pagination-btn").forEach((btn) => {
                                btn.classList.remove("active");
                                if (btn.innerHTML === pageNo.toString()) {
                                    btn.classList.add("active");
                                }
                            });

                            productDivContainer.innerHTML = "";
                            getAllProducts(pageNo);
                        }
                    });
                    nextPagBtn.addEventListener("click", function () {
                        if (pageNo < totalPage) {
                            pageNo = pageNo + 1;
                            document.querySelectorAll(".pagination-btn").forEach((btn) => {
                                btn.classList.remove("active");
                                if (btn.innerHTML === pageNo.toString()) {
                                    btn.classList.add("active");
                                }
                            });

                            productDivContainer.innerHTML = "";
                            getAllProducts(pageNo);
                        } else {
                            return pageNo;
                        }
                    });

                    // filtering part
                    const productsPerPage = 2;
                    let pageNumber = 1;

                    function getFilteredData(category, pageNumber) {
                        let skipProducts = productsPerPage * pageNumber;
                        let slicedProducts = category.details.slice(
                            skipProducts - productsPerPage,
                            skipProducts
                        );
                        for (let k = 0; k < slicedProducts.length; k++) {
                            const filteredProducts = slicedProducts[k];
                            const visit = `${window.location.origin}/product?img=${filteredProducts.image}&p=${filteredProducts.name}&pr=${filteredProducts.price}`;

                            let cardContainer = document.createElement("div");
                            cardContainer.style = "cursor: pointer";
                            let productCard = `
                    <a href="${visit}" class="image-holder">
                      <img
                        src=${filteredProducts.image}
                        alt="Books"
                        class="product-image"
                      />
                    </a>
                    <div class="product-detail">
                      <p class="product-brand">Chalkduster &reg;</p>
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <p class="product-title">
                          <a href="${visit}" >${filteredProducts.name}</a
                          >
                        </p>
                        <button type="button" data-number=${filteredProducts._id} class="wishlist-btn">
                          <i title="Add to Wishlist" class="icon icon-heart"></i>
                        </button>
                      </div>
                      <div class="d-flex justify-content-between align-items-center">
                      <p class="item-price">
                        <span class="inr">&#8377;</span>${filteredProducts.price}
                        <span class="cut-price">&#8377;500</span>
                      </p>
                      <button type="button" data-product=${filteredProducts._id} class="cart-btn">
                        <i class="fas fa-cart-plus" style="color: #c1b9b9;"></i>
                      </button>
                      </div>
                    </div>
                  `;
                            cardContainer.innerHTML = productCard;
                            cardContainer.classList.add("product-item");
                            cardContainer.classList.add("col-lg-4");
                            cardContainer.classList.add("col-md-6");
                            cardContainer.classList.add("col-xs-6");
                            productDivContainer.appendChild(cardContainer);
                            document.querySelectorAll(".wishlist-btn").forEach((btn) =>
                                btn.addEventListener("click", function () {
                                    console.log(filteredProducts._id);
                                })
                            );
                        }
                        // add to wishlist
                        const wishBtns = document.querySelectorAll(".wishlist-btn");
                        wishBtns.forEach((btn) => {
                            const wishlisted = JSON.parse(localStorage.getItem("wishlist"));
                            if (
                                wishlisted !== null &&
                                wishlisted.includes(btn.getAttribute("data-number"))
                            ) {
                                btn.innerHTML = `<i class="fa fa-heart" style="color: #e20808;"></i>`;
                            }
                            // btn.innerHTML = `<i title="Add to Wishlist" class="icon icon-heart"></i>`;
                            btn.addEventListener("click", function () {
                                const pid = btn.getAttribute("data-number");
                                const wishArr =
                                    JSON.parse(localStorage.getItem("wishlist")) || [];
                                if (!wishArr.includes(pid)) {
                                    btn.innerHTML = `<i class="fa fa-heart" style="color: #e20808;"></i>`;
                                    wishArr.push(pid);
                                    localStorage.setItem("wishlist", JSON.stringify(wishArr));
                                }
                            });
                        });
                        // add to cart
                        const cartBtn = document.querySelectorAll(".cart-btn");
                        cartBtn.forEach((btn) => {
                            const carted = JSON.parse(localStorage.getItem("cart"));
                            if (
                                carted !== null &&
                                carted.includes(btn.getAttribute("data-product"))
                            ) {
                                btn.innerHTML = `<i title="Added to Cart" class="fas fa-cart-plus" style="color: #e7b80d;"></i>`;
                            }
                            btn.addEventListener("click", function () {
                                const cid = btn.getAttribute("data-product");
                                const cartArr =
                                    JSON.parse(localStorage.getItem("cart")) || [];
                                if (!cartArr.includes(cid)) {
                                    btn.innerHTML = `<i title="Added to Cart" class="fas fa-cart-plus" style="color: #e7b80d;"></i>`;
                                    cartArr.push(cid);
                                    localStorage.setItem("cart", JSON.stringify(cartArr));
                                }
                            });
                        });
                    }
                    const DataCategory = jsonData.databyCat;
                    const publishedCategoryProducts = jsonData.databyCat;
                    for (let c = 0; c < publishedCategoryProducts.length; c++) {
                        const pubcat = publishedCategoryProducts[c];
                        if (pubcat._id === "uniform") {
                            const liveProducts = pubcat.details.filter(item => {
                                return item.pState === "published";
                            });
                            console.log(liveProducts);
                        }
                    }

                    filterButtons.forEach((button) => {
                        button.addEventListener("click", function () {
                            productDivContainer.innerHTML = "";
                            pageNo = 1;
                            pageNumber = 1;
                            const category = button.getAttribute("data-category");
                            filterButtons.forEach((btn) => btn.classList.remove("active"));
                            button.classList.add("active");
                            for (let j = 0; j < DataCategory.length; j++) {
                                const Categories = DataCategory[j];
                                if (category === Categories._id) {
                                    getFilteredData(Categories, pageNumber);
                                    let totalNoOfPage = Math.ceil(
                                        Categories.details.length / productsPerPage
                                    );
                                    // PAGIINATION script starts from here
                                    pagContainer.innerHTML = "";
                                    for (let p = 0; p < totalNoOfPage; p++) {
                                        const pagBtns = document.createElement("button");
                                        pagBtns.classList.add("pagination-btn");
                                        if (p === 0) {
                                            pagBtns.classList.add("active");
                                        }
                                        pagBtns.innerHTML = p + 1;
                                        const pagList = document.createElement("li");
                                        pagList.appendChild(pagBtns);
                                        pagContainer.appendChild(pagList);
                                        pagList.addEventListener("click", function () {
                                            pageNumber = Number(pagBtns.innerText);
                                            document
                                                .querySelectorAll(".pagination-btn")
                                                .forEach((btn) => {
                                                    btn.classList.remove("active");
                                                    if (btn.innerHTML === pageNumber.toString()) {
                                                        btn.classList.add("active");
                                                    }
                                                });
                                            productDivContainer.innerHTML = "";
                                            getFilteredData(Categories, pageNumber);
                                        });
                                    }

                                    nextprevContainer.innerHTML = "";
                                    nextprevContainer.innerHTML = `
                    <button id="prev" class="pagination-btn">
                      <i class="icon icon-arrow-left"></i>
                    </button>
                    <button id="next" class="pagination-btn">
                      <i class="icon icon-arrow-right"></i>
                    </button>
                  `;
                                    const prevArrow = document.getElementById("prev");
                                    const nextArrow = document.getElementById("next");
                                    prevArrow.addEventListener("click", function () {
                                        if (pageNumber === 1) {
                                            return pageNumber;
                                        } else {
                                            pageNumber = pageNumber - 1;
                                            document
                                                .querySelectorAll(".pagination-btn")
                                                .forEach((btn) => {
                                                    btn.classList.remove("active");
                                                    if (btn.innerHTML === pageNumber.toString()) {
                                                        btn.classList.add("active");
                                                    }
                                                });
                                            productDivContainer.innerHTML = "";
                                            getFilteredData(Categories, pageNumber);
                                        }
                                    });
                                    nextArrow.addEventListener("click", function () {
                                        if (pageNumber < totalNoOfPage) {
                                            pageNumber = pageNumber + 1;
                                            document
                                                .querySelectorAll(".pagination-btn")
                                                .forEach((btn) => {
                                                    btn.classList.remove("active");
                                                    if (btn.innerHTML === pageNumber.toString()) {
                                                        btn.classList.add("active");
                                                    }
                                                });
                                            productDivContainer.innerHTML = "";
                                            getFilteredData(Categories, pageNumber);
                                        } else {
                                            return pageNumber;
                                        }
                                    });
                                } else if (category === "all") {
                                    productDivContainer.innerHTML = "";
                                    getAllProducts(pageNo);
                                    // PAGIINATION script starts from here
                                    pagContainer.innerHTML = "";
                                    for (let p = 0; p < totalPage; p++) {
                                        const pagBt = document.createElement("button");
                                        pagBt.classList.add("pagination-btn");
                                        if (p === 0) {
                                            pagBt.classList.add("active");
                                        }
                                        pagBt.innerHTML = p + 1;
                                        const pagL = document.createElement("li");
                                        pagL.appendChild(pagBt);
                                        pagContainer.appendChild(pagL);
                                        pagL.addEventListener("click", function () {
                                            pageNo = Number(pagBt.innerText);
                                            document
                                                .querySelectorAll(".pagination-btn")
                                                .forEach((btn) => {
                                                    btn.classList.remove("active");
                                                    if (btn.innerHTML === pageNo.toString()) {
                                                        btn.classList.add("active");
                                                    }
                                                });
                                            productDivContainer.innerHTML = "";
                                            getAllProducts(pageNo);
                                        });
                                    }

                                    nextprevContainer.innerHTML = "";
                                    nextprevContainer.innerHTML = `
                    <button id="prevpagination" class="pagination-btn">
                      <i class="icon icon-arrow-left"></i>
                    </button>

                    <button id="nextpagination" class="pagination-btn">
                      <i class="icon icon-arrow-right"></i>
                    </button>
                  `;
                                    const prevArrowPag =
                                        document.getElementById("prevpagination");
                                    const nextArrowPag =
                                        document.getElementById("nextpagination");
                                    prevArrowPag.addEventListener("click", function () {
                                        if (pageNo === 1) {
                                            return pageNo;
                                        } else {
                                            pageNo = pageNo - 1;
                                            document
                                                .querySelectorAll(".pagination-btn")
                                                .forEach((btn) => {
                                                    btn.classList.remove("active");
                                                    if (btn.innerHTML === pageNo.toString()) {
                                                        btn.classList.add("active");
                                                    }
                                                });
                                            productDivContainer.innerHTML = "";
                                            getAllProducts(pageNo);
                                        }
                                    });
                                    nextArrowPag.addEventListener("click", function () {
                                        if (pageNo < totalPage) {
                                            pageNo = pageNo + 1;
                                            document
                                                .querySelectorAll(".pagination-btn")
                                                .forEach((btn) => {
                                                    btn.classList.remove("active");
                                                    if (btn.innerHTML === pageNo.toString()) {
                                                        btn.classList.add("active");
                                                    }
                                                });
                                            productDivContainer.innerHTML = "";
                                            getAllProducts(pageNo);
                                        } else {
                                            return pageNo;
                                        }
                                    });
                                }
                            }
                        });
                    });
                })
                .catch((err) => {
                    console.log(err);
                });
        });
    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>