<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Single Product Page</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    {{>navbar}}
    <div class="singleProductSection">
        <div class="productImageSlideSection">
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <img class="image1" src="../images/images-1708431433898856931689.jpg"
                        style="width:100%, height: auto;">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 4</div>
                    <img class="image2" src="../images/images-1708431433898856931689.jpg"
                        style="width:100%, height: auto;">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 4</div>
                    <img class="image3" src="../images/images-1708431433898856931689.jpg"
                        style="width:100%, height: auto;">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">4 / 4</div>
                    <img class="image4" src="../images/images-1708431433898856931689.jpg"
                        style="width:100%, height: auto;">
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

                <div style="bottom: 0; left: 50%; transform: translate(-50%, -50%); position: absolute; z-index: 100;">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
            <br>

        </div>
        <div class="productDeatilsSection">
            <div class="d-flex flex-row align-items-center">
                <div class="p-ratings">
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                </div>
                <span class="ml-1">5.0</span>
            </div>
            <div class="about">
                <span id="product-title" class="font-weight-bold text-light">
                </span>
                <h4 id="product-price" class="font-weight-bold text-light"></h4>
            </div>
            <div class="proceed-buttons">
                <button class="btn btn-warning btn-long buy">Buy Now</button>
            </div>
            <div class="product-description">
                <div>
                    <span class="font-weight-bold">Sizes:</span>
                </div>
                <div class="my-size">
                    <label class="radio">
                        <input type="radio" name="gender" value="small" />
                        <p class="text-light">S</p>
                    </label>
                    <label class="radio">
                        <input type="radio" name="gender" value="medium" />
                        <p class="text-light">M</p>
                    </label>
                    <label class="radio">
                        <input type="radio" name="gender" value="large" />
                        <p class="text-light">L</p>
                    </label>
                    <label class="radio">
                        <input type="radio" name="gender" value="xlarge" />
                        <p class="text-light">XL</p>
                    </label>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-calendar-check-o"></i>
                    <span class="ml-1"> Delivery from Chalk Duster, 15-45 days</span>
                </div>
                <div class="mt-2">
                    <span class="font-weight-bold">Description</span>
                    <small class="product-desc">
                        {{!-- description --}}
                    </small>
                    <div class="bullets mt-4">
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Best in Quality</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Anti-creak joinery</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Sturdy laminate surfaces</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Relocation friendly design</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">High gloss, high style</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Easy-access hydraulic storage</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="footer" class="margin-medium">
        <div class="container-fluid">
            <div class="footer-menu-list px-4">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/catalogue">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/brand">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/disclaimer">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container-fluid">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const queryParams = new URLSearchParams(window.location.search);
        const pid = queryParams.get("pid");
        document.addEventListener("DOMContentLoaded", () => {
            fetch(`${window.location.origin}/api/v1/product/${pid}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then(res => res.json())
                .then(productData => {
                    if (productData.success === true) {
                        console.log(productData.result);
                        const product = productData.result[0];
                        document.getElementById("product-title").innerText = product.name;
                        document.getElementById("product-price").innerHTML = `&#8377; ${product.price}`;
                        document.querySelector(".product-desc").innerText = product.desc;
                        document.querySelector(".image1").setAttribute("src", `../${product.images[0]}`);
                        document.querySelector(".image2").setAttribute("src", `../${product.images[1] ? product.images[1] : "./images/product-default.jpg"}`);
                        document.querySelector(".image3").setAttribute("src", `../${product.images[2] ? product.images[2] : "./images/product-default.jpg"}`);
                        document.querySelector(".image4").setAttribute("src", `../${product.images[3] ? product.images[3] : "./images/product-default.jpg"}`);
                    }
                })
                .catch(err => {
                    alert("Something went wrong " + err);
                })
        });
        //console.log(pid)
    </script>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
    <script src="js/script.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
</body>

</html>