<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Single Product Page</title>
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <header id="header">
        <div id="header-wrap">
            <nav class="secondary-nav border-bottom">
                <div class="nav-container">
                    <div class="d-flex align-items-center mini-nav">
                        <div class="col-md-4 user-items">
                            <ul class="d-flex list-unstyled">
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 shipping-purchase text-center">
                            <p>Chalkduster - Dress Smart, Learn Smart</p>
                        </div>
                        <div class="col-md-4 col-sm-12 user-items">
                            <ul class="d-flex justify-content-end list-unstyled">
                                <li>
                                    <a href="/login">
                                        <i class="icon icon-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/cart">
                                        <i class="icon icon-shopping-cart"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="/wishlist">
                                        <i class="icon icon-heart"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <nav class="primary-nav padding-small">
                <div class="nav-container">
                    <div class="d-flex justify-content-between align-items-center nav-height">
                        <div class="logo-div">
                            <div class="main-logo">
                                <a href="/">
                                    <img src="images/chalkduster-icon.jpg" alt="logo" />
                                </a>
                            </div>
                        </div>
                        <div class="navbar-div">
                            <div class="navbar">
                                <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                    <ul class="menu-list">
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/" class="item-anchor active" data-effect="Home">Home</a>
                                        </li> --}}
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/about" class="item-anchor" data-effect="About">About</a>
                                        </li> --}}
                                        <li class="menu-item has-sub">
                                            <a href="/shop" class="item-anchor" data-effect="Shop">Shop</a>
                                        </li>
                                        <li class="menu-item has-sub">
                                            <a href="/blog" class="item-anchor" data-effect="Blog">Blog</a>
                                        </li>
                                        {{!-- <li class="menu-item has-sub">
                                            <a href="/contact" class="item-anchor" data-effect="Contact">Contact</a>
                                        </li> --}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <link rel="stylesheet" href="singleproduct.css" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://sachinchoolur.github.io/lightslider/dist/css/lightslider.css" />
    <div class="container-fluid text-light" id="singleProductBody">
        <div class="row no-gutters pb-4">
            <div class="col-md-4 pr-2">
                <div class="card bag-color">
                    <div class="demo">
                        <ul id="lightSlider">
                            <!-- <li data-thumb="ready-images/autumn1.jpg">
                  <img src="ready-images/autumn1.jpg" />
                </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card bag-color">
                    <div class="d-flex flex-row align-items-center">
                        <div class="p-ratings">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                        </div>
                        <span class="ml-1">5.0</span>
                    </div>
                    <div class="about">
                        <span id="product-title" class="font-weight-bold text-light">
                        </span>
                        <h4 id="product-price" class="font-weight-bold text-light"></h4>
                    </div>
                    <div class="proceed-buttons">
                        <button class="btn btn-outline-warning btn-long cart">
                            Add to Cart
                        </button>
                        <button class="btn btn-warning btn-long buy">Buy Now</button>
                        <button class="btn btn-light wishlist">
                            <i class="fa fa-heart"></i>
                        </button>
                    </div>
                    <div class="product-description">
                        <div>
                            <span class="font-weight-bold">Sizes:</span>
                        </div>
                        <div class="my-size">
                            <label class="radio">
                                <input type="radio" name="gender" value="small" />
                                <p class="text-light">S</p>
                            </label>
                            <label class="radio">
                                <input type="radio" name="gender" value="medium" />
                                <p class="text-light">M</p>
                            </label>
                            <label class="radio">
                                <input type="radio" name="gender" value="large" />
                                <p class="text-light">L</p>
                            </label>
                            <label class="radio">
                                <input type="radio" name="gender" value="xlarge" />
                                <p class="text-light">XL</p>
                            </label>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                            <i class="fa fa-calendar-check-o"></i>
                            <span class="ml-1">Delivery from Chalk Duster, 15-45 days</span>
                        </div>
                        <div class="mt-2">
                            <span class="font-weight-bold">Description</span>
                            <small>
                                The minimalist collaboration features chairs, lightening,
                                Shelves, Sofas, Desks and various home accessories, all
                                offering form and function at the same point.We use
                                high-strength clamps and joinery techniques specially designed
                                for engineered wood beds. Ergo, no irksome creaks - and you
                                can sleep like a baby, well into adulthood!
                            </small>
                            <div class="bullets mt-4">
                                <div class="d-flex align-items-center">
                                    <span class="dot"></span>
                                    <span class="bullet-text">Best in Quality</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="dot"></span>
                                    <span class="bullet-text">Anti-creak joinery</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="dot"></span>
                                    <span class="bullet-text">Sturdy laminate surfaces</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="dot"></span>
                                    <span class="bullet-text">Relocation friendly design</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="dot"></span>
                                    <span class="bullet-text">High gloss, high style</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="dot"></span>
                                    <span class="bullet-text">Easy-access hydraulic storage</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card mt-2">
            <span>Similar items:</span>
            <div class="similar-products mt-2 d-flex flex-row">
              <div
                class="card border p-1"
                style="width: 9rem; margin-right: 3px"
              >
                <img
                  src="https://i.imgur.com/KZpuufK.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title">$1,999</h6>
                </div>
              </div>
              <div
                class="card border p-1"
                style="width: 9rem; margin-right: 3px"
              >
                <img
                  src="https://i.imgur.com/GwiUmQA.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title">$1,699</h6>
                </div>
              </div>
              <div
                class="card border p-1"
                style="width: 9rem; margin-right: 3px"
              >
                <img
                  src="https://i.imgur.com/c9uUysL.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title">$2,999</h6>
                </div>
              </div>
              <div
                class="card border p-1"
                style="width: 9rem; margin-right: 3px"
              >
                <img
                  src="https://i.imgur.com/kYWqL7k.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title">$3,999</h6>
                </div>
              </div>
              <div class="card border p-1" style="width: 9rem">
                <img
                  src="https://i.imgur.com/DhKkTrG.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title">$999</h6>
                </div>
              </div>
            </div>
          </div> -->
            </div>
        </div>
    </div>

    <footer id="footer" class="margin-medium">
        <div class="container-fluid">
            <div class="footer-menu-list px-4">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/catalogue">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/brand">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/disclaimer">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 mt-4 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container-fluid">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://sachinchoolur.github.io/lightslider/dist/js/lightslider.js"></script>
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>
        const queryParams = new URLSearchParams(window.location.search);
        const imagePath = queryParams.get("img");
        const productName = queryParams.get("p");
        const productPrice = queryParams.get("pr");
        document.getElementById("product-title").innerText = productName;
        document.getElementById(
            "product-price"
        ).innerHTML = `&#8377; ${productPrice}`;
        let insertImages = `<li data-thumb="${imagePath}">
                  <img src=${imagePath} />
                </li>
                <li data-thumb="${imagePath}">
                  <img src=${imagePath} />
                </li>
                <li data-thumb="${imagePath}">
                  <img src=${imagePath} />
                </li>
                <li data-thumb="${imagePath}">
                  <img src=${imagePath} />
                </li>`;
        document.getElementById("lightSlider").innerHTML = insertImages;
        $("#lightSlider").lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 6,
        });
    </script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />

    <script src="js/script.js"></script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
</body>

</html>