<!DOCTYPE>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <div class="preloader-wrapper">
        <div class="preloader"></div>
    </div>
    {{>navbar}}
    <div class="singleProductSection">
        <div class="productImageSlideSection">
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <img class="image1" src="./images/product-default.jpg" style="width:100%, height: auto;">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 4</div>
                    <img class="image2" src="./images/product-default.jpg" style="width:100%, height: auto;">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 4</div>
                    <img class="image3" src="./images/product-default.jpg" style="width:100%, height: auto;">
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">4 / 4</div>
                    <img class="image4" src="./images/product-default.jpg" style="width:100%, height: auto;">
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

                <div style="bottom: 0; left: 50%; transform: translate(-50%, -50%); position: absolute; z-index: 100;">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                    <span class="dot" onclick="currentSlide(4)"></span>
                </div>
            </div>
        </div>
        <div class="productDetailsSection">
            <div class="d-flex flex-row align-items-center">
                <div class="p-ratings">
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                </div>
                <span class="ml-1">5.0</span>
            </div>
            <div class="about">
                <span id="product-title" class="font-weight-bold text-light">
                </span>
                <h4 id="product-price" class="font-weight-bold text-light"></h4>
            </div>
            <div class="proceed-buttons">
                <button id="buyBtn">Buy Now</button>
            </div>
            <div class="product-description">
                <div>
                    <span class="font-weight-bold">Sizes:</span>
                </div>
                <div class="my-size">
                    <label for="small" class="radio  active">
                        <input type="radio" id="small" name="size" value="small" checked />
                        <p class="text-light">S</p>
                    </label>
                    <label for="medium" class="radio">
                        <input type="radio" id="medium" name="size" value="medium" />
                        <p class="text-light">M</p>
                    </label>
                    <label for="large" class="radio">
                        <input type="radio" id="large" name="size" value="large" />
                        <p class="text-light">L</p>
                    </label>
                    <label for="xlarge" class="radio">
                        <input type="radio" id="xlarge" name="size" value="xlarge" />
                        <p class="text-light">XL</p>
                    </label>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <i class="fa fa-calendar-check-o" style="color: white;"></i>
                    <span class="ml-1"> Delivery from Chalk Duster, 15-45 days</span>
                </div>
                <div class="mt-2">
                    <span class="font-weight-bold">Description</span>
                    <small class="product-desc">
                        {{!-- description --}}
                    </small>
                    <div class="bullets mt-4">
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Best in Quality</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Anti-creak joinery</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Sturdy laminate surfaces</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Relocation friendly design</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">High gloss, high style</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="dot"></span>
                            <span class="bullet-text">Easy-access hydraulic storage</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="checkout-coverbg">
        <div class="checkout-Modal">
            <i class="far fa-times-circle fa-lg" style="color: #000000;"></i>
            <div class="checkflex">
                <div class="checkoutImgDiv">
                    <img class="checkoutImg" src="" alt="product image">
                </div>
                <div class="checkoutProductDetails">
                    <strong class="checkoutProductTitle"></strong>
                    <h5 class="checkoutProductPrice"></h5>
                    <small class="checkoutProductDescription"></small>
                </div>
            </div>
            <div class="checkoutOrderDetails">
                <div class="checkoutProductQuantity">
                    <div class="inc">+</div>
                    <input id="quantity" type="text" value="1">
                    <div class="dec">-</div>
                </div>
                <small class="checkoutSelectedSize"></small>
            </div>
            <label for="checkoutUserAddress">Your Address Details:</label>
            <details id="checkoutUserAddress">

            </details>
            <div class="checkoutActionDiv">
                <div class="checkoutTotalPriceDiv">
                    <small class="checkoutTotalPrice"></small>
                </div>
                <div class="checkoutProceedDiv">
                    <button class="proceedBtn">PROCEED</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {{!-- button click loading --}}
    <div class="loader-content">
        <h3 id="loadMessage"></h3>
        <div class="loading">
            <p>loading</p>
            <span></span>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/catalogue">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/brand">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/disclaimer">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const sizeDiv = document.querySelector(".my-size");
        const sizeBtns = document.querySelectorAll("label.radio");
        const checkOutContainer = document.querySelector(".checkout-coverbg");
        let loaderDiv = document.querySelector(".loader-content");
        const loadMessage = document.getElementById("loadMessage");
        const loadingDiv = document.querySelector(".loading");
        const smallInput = document.getElementById("small");
        const mediumInput = document.getElementById("medium");
        const largeInput = document.getElementById("large");
        const xlargeInput = document.getElementById("xlarge");
        const checkoutSelectedSize = document.querySelector(".checkoutSelectedSize")
        const formClose = document.querySelector("i.fa-times-circle");
        const incBtn = document.querySelector(".inc");
        const decBtn = document.querySelector(".dec");
        const quantity = document.getElementById("quantity");
        let productPrice = document.getElementById("product-price")
        let totalprice = document.querySelector(".checkoutTotalPrice");

        //inc | dec function
        incBtn.addEventListener("click", () => {
            if (Number(quantity.value) >= 1) {
                quantity.value = Number(quantity.value) + 1;
                const total = Number(totalprice.innerText.slice(9)) + Number(productPrice.innerText.slice(2));
                totalprice.innerHTML = `Total: &#8377; ${total}`
            }
        });
        decBtn.addEventListener("click", () => {
            if (Number(quantity.value) > 1) {
                quantity.value = Number(quantity.value) - 1;
                const total = Number(totalprice.innerText.slice(9)) - Number(productPrice.innerText.slice(2));
                totalprice.innerHTML = `Total: &#8377; ${total}`;
            } else if (Number(quantity.value) === 1) {
                quantity.value = 1;
            }
        })

        formClose.addEventListener("click", () => {
            checkOutContainer.style = "display: none;";
        })
        sizeBtns.forEach(btn => {
            btn.addEventListener("click", () => {
                sizeBtns.forEach(item => {
                    if (item.classList.contains("active") === true) {
                        item.classList.remove("active");
                    }
                })
                btn.classList.add("active");
            })
        })
        const queryParams = new URLSearchParams(window.location.search);
        const pid = queryParams.get("pid");
        document.addEventListener("DOMContentLoaded", () => {
            fetch(`${window.location.origin}/api/v1/product/${pid}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
                .then(res => res.json())
                .then(productData => {
                    if (productData.success === true) {
                        //console.log(productData.result);
                        const product = productData.result[0];
                        document.getElementById("product-title").innerText = product.name;
                        document.getElementById("product-price").innerHTML = `&#8377; ${product.price}`;
                        document.querySelector(".product-desc").innerText = product.desc;
                        document.querySelector(".image1").setAttribute("src", `../${product.images[0]}`);
                        document.querySelector(".image2").setAttribute("src", `../${product.images[1] ? product.images[1] : "./images/product-default.jpg"}`);
                        document.querySelector(".image3").setAttribute("src", `../${product.images[2] ? product.images[2] : "./images/product-default.jpg"}`);
                        document.querySelector(".image4").setAttribute("src", `../${product.images[3] ? product.images[3] : "./images/product-default.jpg"}`);
                        if (product.category !== "uniform" && product.category !== "sports" && product.category !== "footwears") {
                            sizeDiv.style = "display: none";
                            smallInput.removeAttribute("checked");
                        }
                    }
                })
                .catch(err => {
                    alert("Something went wrong " + err);
                })
        });
        //console.log(pid)
        const buyBtn = document.getElementById("buyBtn");
        buyBtn.addEventListener("click", () => {
            loaderDiv.style = "display: flex;";
            loadMessage.innerText = "Wait Redirecting You....";
            loadMessage.style = "color: black;";
            const user = localStorage.getItem("TCD");
            fetch(`${window.location.origin}/api/v2/profile`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${user}`,
                },
            })
                .then(res => res.json())
                .then(userData => {
                    if (userData.success === true) {
                        const user = userData.loggedUSER;
                        if (user.logState === "in") {
                            if (user.state !== "" && user.pin !== "" && user.cityvill !== "" && user.nearloc !== "") {
                                //confirm("User is logged In and has Address details filled");
                                setTimeout(() => {
                                    loaderDiv.style = "display: none";
                                    checkOutContainer.style = "display: flex";
                                    // setting product title
                                    document.querySelector(".checkoutProductTitle").innerText = document.getElementById("product-title").innerText;
                                    //setting product price
                                    document.querySelector(".checkoutProductPrice").innerHTML = document.getElementById("product-price").innerHTML;
                                    // setting total product price
                                    document.querySelector(".checkoutTotalPrice").innerHTML = `Total: ${document.getElementById("product-price").innerHTML}`;
                                    //setting product image
                                    const imageSRC = document.querySelector(".image1").getAttribute("src");
                                    document.querySelector(".checkoutImg").setAttribute("src", imageSRC);
                                    // setting product description
                                    document.querySelector(".checkoutProductDescription").innerText = document.querySelector(".product-desc").innerText;
                                    //setting address
                                    document.getElementById("checkoutUserAddress").innerHTML = `&bullet; Full Name: ${user.fullname} &bullet; Phone: ${user.phone} &bullet; Pin: ${user.pin}
                                    &bullet; State: ${user.state} &bullet; City/Vill: ${user.cityvill} &bullet; Landmark: ${user.nearloc}`;
                                    if (smallInput.checked) {
                                        checkoutSelectedSize.innerText = "S";
                                    } else if (mediumInput.checked) {
                                        checkoutSelectedSize.innerText = "M";
                                    } else if (largeInput.checked) {
                                        checkoutSelectedSize.innerText = "L";
                                    } else if (xlargeInput.checked) {
                                        checkoutSelectedSize.innerText = "XL";
                                    } else {
                                        checkoutSelectedSize.style = "display: none";
                                    }

                                }, 1000)
                            } else {
                                confirm(`Dear ${user.fullname} please fill your Address Details to place an order`)
                                window.location.assign(`${window.location.origin}/profile`);
                            }
                        } else {
                            alert("Dear User please Login to place an Order!");
                        }
                    } else {
                        alert(userData.message);
                    }
                })
                .catch(err => {
                    alert("Something went wrong " + err)
                })
        });
        const proceedBtn = document.querySelector(".proceedBtn");
        proceedBtn.addEventListener("click", () => {
            const totalamount = (Number(totalprice.innerText.slice(9)));
            const dataOBJ = {
                amount: totalamount
            }
            const shinchan = localStorage.getItem("TCD");
            fetch(`${window.location.origin}/api/v3/create-order`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${shinchan}`,
                },
                body: JSON.stringify(dataOBJ),
            })
                .then(res => res.json())
                .then(orderData => {
                    let options = {
                        key: "rzp_test_tqwqpKVIhIvmPz",
                        amount: dataOBJ.amount * 100,
                        currency: "INR",
                        name: "CHALK DUSTER",
                        description: "Payment Gateway Integration by Chalk Duster",
                        image: `${window.location.origin}/images/favicon.jpg`,
                        order_id: orderData.order.id,
                        handler: async function (response) {
                            let sendData = {
                                payment_id: response.razorpay_payment_id,
                                order_id: response.razorpay_order_id,
                                signature: response.razorpay_signature,
                                pid: pid,
                                size: checkoutSelectedSize.innerText,
                                quantity: Number(quantity.value),
                                pay: dataOBJ.amount,
                            };
                            fetch(`${window.location.origin}/api/v3/verify-payment`, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                    Authorization: `${shinchan}`,
                                },
                                body: JSON.stringify(sendData),
                            })
                                .then(res => res.json())
                                .then(data => {
                                    if (data.status === true) {
                                        alert(data.message);
                                        window.location.reload();
                                    }
                                    if (data.status === false) {
                                        alert(data.message);
                                    }
                                })
                        },
                        prefill: {
                            name: "Souvik Roy",
                            email: "souvik2018roy@gmail.com",
                            contact: "+917365926202",
                        },
                    };
                    var rzp1 = new window.Razorpay(options);
                    rzp1.open();
                })
        })
    </script>
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" activedot", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " activedot";
        }
    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>