<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    {{>navbar}}
    <section class="user-profile">
        <div class="profile-sidebar">
            <ul class="profile-items">
                <a href="/profile">
                    <li class="profile-menu profile">
                        <i class="fas fa-user fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">User Profile</span>
                    </li>
                </a>
                <a href="/orders">
                    <li class="profile-menu orders">
                        <i class="fas fa-shopping-bag fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Order History</span>
                    </li>
                </a>
                <a href="/offers">
                    <li class="profile-menu offer">
                        <i class="fas fa-tags fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">New Offer</span>
                    </li>
                </a>
                <a href="/seller-account">
                    <li class="profile-menu seller">
                        <i class="fas fa-store-alt fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Seller Account</span>
                    </li>
                </a>
                <a href="/settings">
                    <li class="profile-menu setting">
                        <i class="fas fa-cog fa-lg" style="color: #5c8bdb"></i>
                        <span class="list-name">Settings</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="profile-display">
            <nav class="logout-nav">
                <i class="far fa-arrow-alt-circle-left fa-lg" style="color: #ffffff;"></i>
                <div></div>
            </nav>
            <div class="edit-div">
                <strong class="user-details">Unpublished Products</strong>
                {{!-- <button onclick="editProfile()" id="editProfile">
                    <i class="far fa-edit fa-lg" style="color: #000000"></i>
                </button> --}}
            </div>
            <div class="unpublished-products-container">
                {{!-- product cards appear here --}}

                {{!-- <div class="unpublished-product-cards">
                    <div
                        style="display: flex; justify-content: space-between; align-items: center; background-color: #ca5cdb73; padding-inline: 2px; border-radius: 5px;">
                        <small class="sellerProductCode">
                            PID: 65ceec462ea2a54a8a508017
                        </small>
                        <i title="View Seller Details" class="fas fa-eye fa-lg" style="cursor: pointer;"></i>
                    </div>
                    <div class="unpublished-images-div">
                        <img class="unpublished-images" src="../images/images-1708093233185479181150.jpg"
                            alt="image preview">
                        <img class="unpublished-images" src="../images/images-1708246214703472656210.jpg"
                            alt="image preview">
                        <img class="unpublished-images" src="../images/images-1708093233187148904174.jpg"
                            alt="image preview">
                        <img class="unpublished-images" src="../images/images-1708246214702899887469.jpg"
                            alt="image preview">
                    </div>
                    <div class="sellerProductTitleDiv">
                        <p class="sellerProductTitle">Title: Dress for 14 years old girls</p>
                    </div>
                    <div class="ProductDescriptionDiv">
                        <small>Description:
                            <details class="ProductDescription">
                                Introducing the children's clothing store in the city, a
                                haven for stylish and comfortable apparel for kids of all ages. Our store offers a wide
                                range of trendy and high-quality clothing options, carefully curated to meet the needs
                                and
                                preferences of both children and parents.
                            </details>
                        </small>
                    </div>
                    <div
                        style="display: flex; align-items: center; justify-content: space-between; margin-block: 10px;">
                        <div class="ProductCategoryDiv">
                            <small class="ProductCategory">UNIFORM</small>
                        </div>
                        <div class="publishDiv">
                            <button class="publishBtn">publish</button>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>
    <hr>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="catalogue.html">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="brand.html">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="FAQ.html">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="disclaimer.html">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const unpublishedProductsCont = document.querySelector(".unpublished-products-container");
        document.addEventListener("DOMContentLoaded", () => {
            const unprkey = localStorage.getItem("TCD");
            fetch(`${window.location.origin}/api/v1/unpublished-products`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${unprkey}`,
                },
            })
                .then(res => res.json())
                .then(result => {
                    if (result.success === true) {
                        //console.log(result.unProducts);
                        for (let i = 0; i < result.unProducts.length; i++) {
                            const product = result.unProducts[i];

                            const cardinnerhtml = `<div
                        style="display: flex; justify-content: space-between; align-items: center; background-color: #ca5cdb73; padding-inline: 2px; border-radius: 5px;">
                        <small class="sellerProductCode">
                            PID: ${product._id}
                        </small>
                        <i seller-id="${product.sid}" title="View Seller Details" class="fas fa-eye fa-lg" style="cursor: pointer;"></i>
                    </div>
                    <div class="unpublished-images-div">
                        <img class="unpublished-images" src="../${product.images[0]}" alt="image preview">
                        <img class="unpublished-images" src="../${product.images[1] ? product.images[1] : "./images/product-default.jpg"}" alt="image preview">
                        <img class="unpublished-images" src="../${product.images[2] ? product.images[2] : "./images/product-default.jpg"}" alt="image preview">
                        <img class="unpublished-images" src="../${product.images[3] ? product.images[3] : "./images/product-default.jpg"}" alt="image preview">
                    </div >
                    <div class="sellerProductTitleDiv">
                        <p class="sellerProductTitle">Title: ${product.name}</p>
                    </div>
                    <div class="ProductDescriptionDiv">
                        <small>Description:
                            <details class="ProductDescription">
                                ${product.desc}
                            </details>
                        </small>
                    </div>
                    <div
                        style="display: flex; align-items: center; justify-content: space-between; margin-block: 10px;">
                        <div class="ProductCategoryDiv">
                            <small class="ProductCategory">${product.category.toUpperCase()}</small>
                        </div>
                        <div class="publishDiv">
                            <button pid="${product._id}" class="publishBtn">publish</button>
                        </div>
                    </div>`;

                            const productCard = document.createElement("div");
                            productCard.classList.add("unpublished-product-cards");
                            productCard.innerHTML = `${cardinnerhtml}`;
                            unpublishedProductsCont.prepend(productCard);
                        }
                        const viewIcon = document.querySelectorAll(".fa-eye");
                        viewIcon.forEach(ico => {
                            ico.addEventListener("click", () => {
                                const sellid = ico.getAttribute("seller-id");
                                fetch(`${window.location.origin}/api/v2/seller-details/${sellid}`, {
                                    method: "GET",
                                    headers: {
                                        "Content-Type": "application/json",
                                        Authorization: `${unprkey}`
                                    }
                                })
                                    .then(res => res.json())
                                    .then(sellerResponse => {
                                        if (sellerResponse.success === true) {
                                            confirm(`${sellerResponse.productSeller.fullname}(${sellerResponse.productSeller.phone})
                                            ${sellerResponse.productSeller.firmName}`)
                                        }
                                    })
                                    .catch(err => {
                                        alert("Something went wrong");
                                    })
                            })
                        })

                        // publish products
                        const publishBtn = document.querySelectorAll(".publishBtn");
                        publishBtn.forEach(button => {
                            button.addEventListener("click", () => {
                                const pid = button.getAttribute("pid");
                                fetch(`${window.location.origin}/api/v1/publish-product/${pid}`, {
                                    method: "PUT",
                                    headers: {
                                        "Content-Type": "application/json",
                                        Authorization: `${unprkey}`,
                                    },
                                })
                                    .then(res => res.json())
                                    .then(publish => {
                                        if (publish.success === true) {
                                            confirm(`${publish.message}`);
                                            setTimeout(() => {
                                                button.closest(".unpublished-product-cards").style = "display: none";
                                            }, 800)
                                        }
                                    })
                                    .catch(err => {
                                        alert("Something went wrong" + err);
                                    })
                            })
                        })
                    }
                    if (result.success === false) {
                        alert(result.message);
                    }
                })
                .catch(err => {
                    alert("Something went wrong" + err);
                })
        })
        const gobackbtn = document.querySelector(".fa-arrow-alt-circle-left");
        gobackbtn.addEventListener("click", () => {
            history.go(-1);
        })
    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>