<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    {{>navbar}}
    {{!-- admin seller verification body starts from here --}}
    <section class="user-profile">
        <div class="profile-sidebar">
            <ul class="profile-items">
                <a href="/profile">
                    <li class="profile-menu profile">
                        <i class="fas fa-user fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">User Profile</span>
                    </li>
                </a>
                <a href="/orders">
                    <li class="profile-menu orders">
                        <i class="fas fa-shopping-bag fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Order History</span>
                    </li>
                </a>
                <a href="/offers">
                    <li class="profile-menu offer">
                        <i class="fas fa-tags fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">New Offer</span>
                    </li>
                </a>
                <a href="/seller-account">
                    <li class="profile-menu seller">
                        <i class="fas fa-store-alt fa-lg" style="color: #ffffff"></i>
                        <span class="list-name">Seller Account</span>
                    </li>
                </a>
                <a href="/settings">
                    <li class="profile-menu setting">
                        <i class="fas fa-cog fa-lg" style="color: #5c8bdb"></i>
                        <span class="list-name">Settings</span>
                    </li>
                </a>
            </ul>
        </div>
        <div class="profile-display">
            <nav class="logout-nav">
                {{!-- <button id="logoutBtn">
                    <i class="fas fa-power-off fa-lg" style="color: #ffffff"></i>
                </button> --}}
            </nav>
            <div class="edit-div">
                <strong class="user-details">Pending Applications</strong>
                {{!-- <button onclick="editProfile()" id="editProfile">
                    <i class="far fa-edit fa-lg" style="color: #000000"></i>
                </button> --}}
            </div>
            <div class="applied-sellers-container">
                {{!-- product cards appear here --}}
                {{!-- <div class="seller-application-card">
                    <div class="applicant-name-div">
                        <span class="app-label">Applicant:</span>
                        <strong class="applicant-name">Souvik Roy</strong>
                    </div>
                    <div class="applicant-firm-details">
                        <div class="firm-details-header">
                            <span class="app-label">Firm:</span>
                            <p class="seller-firm-name">Chalk Duster <small>@Rahul Sir</small></p>
                        </div>
                        <div class="firm-details-body">
                            <p class="app-label">Business Category:</p>
                            <br>
                            <small class="business-categories">
                                Stationary, Books, Uniform, Utensils, Sports, Bag
                            </small>
                        </div>
                        <div class="firm-details-footer">
                            <span class="app-label">GST:</span>
                            <p class="business-gst-no">22AAAAA0000A1Z5</p>
                        </div>
                    </div>
                </div> --}}
            </div>
        </div>
    </section>
    <hr>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="catalogue.html">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="brand.html">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="blog.html">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="FAQ.html">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="disclaimer.html">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const logoutNav = document.querySelector(".logout-nav");
        const applicationsContainer = document.querySelector(".applied-sellers-container");
        document.addEventListener("DOMContentLoaded", () => {
            const authorlisence = localStorage.getItem("TCD");
            fetch(`${window.location.origin}/api/v2/admin`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${authorlisence}`,
                },
            })
                .then(res => res.json())
                .then(Administrator => {
                    if (Administrator.success === true) {
                        logoutNav.innerHTML = `<strong class="firm-heading">ADMIN@ ${Administrator.loggedADMIN.fullname}</strong>`
                    }
                    if (Administrator.success === false) {
                        applicationsContainer.style = "display: none";
                        alert(Administrator.message);
                    }
                })
                .catch(err => {
                    alert("Something went wrong" + err);
                })
            // fetch seller applications
            fetch(`${window.location.origin}/api/v2/user`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `${authorlisence}`,
                },
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success === true && data.result.length !== 0) {
                        for (let i = 0; i < data.result.length; i++) {
                            const sellerData = data.result[i];
                            //console.log(sellerData);
                            const cardinnerhtml = `<div class="applicant-name-div">
                        <span class="app-label">Applicant:</span>
                        <strong class="applicant-name">${sellerData.fullname}(${sellerData.phone})</strong>
                    </div>
                    <div class="applicant-firm-details">
                        <div class="firm-details-header">
                            <span class="app-label">Firm:</span>
                            <p class="seller-firm-name">${sellerData.firmName} <small>@${sellerData.proprietor}</small></p>
                        </div>
                        <div class="firm-details-body">
                            <p class="app-label">Business Category:</p>
                            <br>
                            <small class="business-categories">
                                ${sellerData.businessCat}
                            </small>
                        </div>
                        <div class="firm-details-footer">
                            <span class="app-label">GST:</span>
                            <p class="business-gst-no">${sellerData.gst === "" ? "NOT PROVIDED" : sellerData.gst}</p>
                        </div>
                    </div>
                    <button seller-id="${sellerData._id}" class="approve-btn">approve</button>`;

                            const applicationCard = document.createElement("div");
                            applicationCard.classList.add("seller-application-card");
                            applicationCard.innerHTML = cardinnerhtml;
                            applicationsContainer.prepend(applicationCard);

                            const approveBtn = document.querySelectorAll(".approve-btn");
                            approveBtn.forEach(button => {
                                button.addEventListener("click", () => {
                                    const sid = button.getAttribute("seller-id");
                                    const approveProposal = confirm("Did you checked the seller?");
                                    //approve seller
                                    fetch(`${window.location.origin}/api/v2/approve-seller/${sid}`, {
                                        method: "PUT",
                                        headers: {
                                            "Content-Type": "application/json",
                                            Authorization: `${authorlisence}`,
                                        },
                                    })
                                        .then(res => res.json())
                                        .then(seller => {
                                            if (approveProposal === true && seller.success === true) {
                                                alert(`The Seller with firm name ${seller.approvedSeller.firmName} is approved now.`);
                                                window.location.reload();
                                            }
                                        })
                                        .catch(err => {
                                            alert(`Something went wrong- ${err}`);
                                        })
                                })
                            })
                        }
                    }
                    if (data.success === true && data.result.length === 0) {
                        alert("No Seller has pending application");
                    }
                })
                .catch(err => {
                    alert("Something went wrong" + err);
                })

            // approve sellers

        })
    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>