<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chalk Duster</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/favicon.jpg" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="icomoon/icomoon.css" />
    <link rel="stylesheet" type="text/css" media="all"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- icons css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/vendor.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
</head>

<body>
    <div class="preloader-wrapper">
        <div class="preloader"></div>
    </div>
    {{>navbar}}
    {{!-- wishlist section starts from here --}}
    <section class="wishlist-section margin-small">
        <div class="section-header wishlistSectionHead">
            <div>
                <h2 class="section-title">Your Wishlist</h2>
            </div>
        </div>
        <div class="wishlistContainer">
            {{!-- wishlist cards apppear here --}}
        </div>
    </section>
    <footer id="footer">
        <div class="container">
            <div class="footer-menu-list">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Our Brand!</h5>
                            <div class="footer-brand">
                                <div class="footer-brand-logo">
                                    <img src="images/chalkduster-icon.jpg" alt="brand logo" />
                                </div>
                                <div class="contact-detail">
                                    <div class="detail-list">
                                        <ul class="list-unstyled list-icon">
                                            <li>
                                                <a href="#"><i class="icon icon-phone"></i>+1650-243-0000</a>
                                            </li>
                                            <li>
                                                <a href="mailto:contact@chalkduster.in"><i
                                                        class="icon icon-mail"></i>contact@chalkduster.in</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon icon-map-pin"></i>North Melbourne
                                                    VIC 3051, Australia</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Useful Links</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item">
                                    <a href="/about">About Us</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/catalogue">Our Catalogue</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/brand">Logo & Branding</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/blog">Our Blog</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/faq">FAQ</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/disclaimer">Disclaimer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Contact Us</h5>
                            <p>Do you have any questions or suggestions?</p>
                            <br />
                            <a href="emailto:contact@chalkduster.in" class="email">contact@chalkduster.in</a>
                            <br />
                            <p>Do you need assistance?</p>
                            <br />
                            <p>Give us a call.</p>
                            <strong>+57 444 11 00 35</strong>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="footer-menu">
                            <h5 class="widget-title">Forever 2024</h5>
                            <p>
                                &#8220; Dressed for success, one uniform at a time. In a sea
                                of faces, uniforms create a sense of belonging.
                            </p>
                            <br />
                            <p>
                                In a world of colors, uniforms create a tapestry of
                                togetherness &#8221;
                            </p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icon icon-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="d-flex align-items-center flex-wrap justify-content-between">
                <div class="copyright">
                    <p>
                        All the copyright factors are reserved to
                        <a href="/">Chalk Duster&copy;</a>
                    </p>
                </div>
                <div class="payment-method">
                    <p>Payment options:</p>
                    <div class="card-wrap">
                        <img src="images/visa-icon.jpg" alt="visa" />
                        <img src="images/mastercard.png" alt="mastercard" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const productlist = JSON.parse(localStorage.getItem("wishlist"));
            // console.log(productlist);
            productlist.map((productId) => {
                // console.log(productId);
                fetch(`${window.location.origin}/api/v1/product/${productId}`, {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                })
                    .then((res) => res.json())
                    .then((data) => {
                        const cardContainer =
                            document.querySelector(".wishlistContainer");
                        // console.log(data.result[0]._id);
                        for (let i = 0; i < data.result.length; i++) {
                            const productData = data.result[i];
                            // console.log(productData);
                            const wishContent = `
          <div class="wishlist-imgDiv" style="background-position: center">
            <img
              class="wishlist-img"
              src=${productData.images[0]}
              alt="product image"
            />
          </div>
          <div class="wishlist-card-details">
            <div>
              <strong class="wishlist-title">${productData.name}</strong>
            </div>
            <div class="tag-container">
              <small>
                <div>
                  <span class="wishlist-tag">&bullet; 100% cotton</span>
                  <span class="wishlist-tag">&bullet; Light weight</span>
                </div>
                <span class="wishlist-tag">&bullet; Best finish</span>
                <span class="wishlist-tag">&bullet; Unique design</span>
                <span class="wishlist-tag">&bullet; Casual</span>
              </small>
            </div>
            <div class="wishlist-desc-title">Description:</div>
            <div class="wishlist-description">
              ${productData.desc}
            </div>
          </div>
          <div class="wishlist-btn-container">
            <div>
              <strong>&#8377;</strong>
              <strong class="wishlist-price">${productData.price}</strong>
              <small class="cut-price">&#8377;500</small>
            </div>
            <div class="delivery-text">Fast Delivery</div>
            <div class="wishlist-card-action">
              <button class="orderNow">Order Now</button>
              <button data-number=${productData._id} class="removeWishProduct">Remove</button>
            </div>
          </div>
        `;

                            const wishCard = document.createElement("div");
                            wishCard.classList.add("wishlist-card");
                            // const productAttribute = document.createAttribute("data-id");
                            wishCard.setAttribute("data-id", productData._id);
                            wishCard.innerHTML = wishContent;
                            cardContainer.prepend(wishCard);
                        }

                        const wishCardDiv = document.querySelectorAll(".wishlist-card");
                        const removeBtn = document.querySelectorAll(".removeWishProduct");
                        removeBtn.forEach((btn) => {
                            btn.addEventListener("click", function () {
                                const productid = btn.getAttribute("data-number");
                                const wishArray =
                                    JSON.parse(localStorage.getItem("wishlist")) || [];
                                if (wishArray.includes(productid)) {
                                    const filteredWish = wishArray.filter(
                                        (item) => item !== productid
                                    );
                                    wishCardDiv.forEach((card) => {
                                        const cardId = card.getAttribute("data-id");
                                        if (cardId === productid) {
                                            card.style.display = "none";
                                        }
                                    });
                                    if (filteredWish.length === 0) {
                                        localStorage.removeItem("wishlist");
                                    }
                                    localStorage.setItem(
                                        "wishlist",
                                        JSON.stringify(filteredWish)
                                    );
                                }
                            });
                        });
                    })
                    .catch((err) => console.log(err));
            });
        });
    </script>
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/script.js"></script>
</body>

</html>