<div class="register-seller">
    <form class="userform">
        <strong class="seller-reg-heading">Register Yourself as a Seller</strong>
        <div class="input-box">
            <label for="firmName">Firm Name *</label>
            <input id="firmName" type="text" name="firmName" placeholder="Enter Firm Name" autocomplete="off"
                required />
        </div>
        <div class="input-box">
            <label for="proprietor">Proprietor *</label>
            <input id="proprietor" type="text" name="proprietor" placeholder="Enter Proprietor Name" autocomplete="off"
                required />
        </div>
        <div class="input-box">
            <label for="business">Business Category *</label>
            <input id="business" type="text" name="businessCat" placeholder="Enter Business Category" autocomplete="off"
                required />
        </div>
        <div class="input-box">
            <label for="gst">GST Number (optional)</label>
            <input id="gst" type="text" name="gst" placeholder="Enter GST Number" autocomplete="off" />
        </div>
    </form>
    <button class="update-profile">SUBMIT SELLER</button>
</div>