@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

#singleProductBody {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
}
.card {
  background-color: #fff;
  padding: 14px;
  border: none;
}
/* #lightSlider li{} */
.card.bag-color {
  background-image: linear-gradient(rgb(140, 143, 143), rgba(1, 1, 1, 0.843));
}
div.demo {
  width: 100%;
}

ul#lightSlider {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}

#lightSlider li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}

#lightSlider li img {
  display: block;
  height: auto;
  width: 100%;
}

.stars i {
  color: #f6d151;
}

.stars span {
  font-size: 13px;
}

.p-ratings i {
  color: #f6d151;
  font-size: 12px;
}

.btn-long {
  padding-left: 35px;
  padding-right: 35px;
}

.comment-ratings i {
  color: #f6d151;
}

.followers {
  font-size: 9px;
  color: #d6d4d4;
}

.store-image {
  width: 42px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.bullet-text {
  font-size: 12px;
}

.my-size {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio p {
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-right: 2px;
  width: 30px;
  height: 30px;
  text-transform: uppercase;
  transition: 0.5s all;
}

label.radio input:checked + p {
  color: #fff;
  border: 1px solid crimson;
  background-color: crimson;
  /* position: relative; */
}

.card-body {
  padding: 0.3rem 0.3rem 0.2rem;
}
